{% extends "navigator/project/base.html" %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block content %}

<div>
 <br/>
 <h1 class="noline">Actions</h1>
 <p>
  <a href="{% url "upload-articles" context.id %}" class="btn"><i class="icon-upload"></i> Upload articles</a>
 </p>
 <hr/>
 {% if deleted %}
    <div class="alert alert-success">Successfully deleted an articleset. If this wasn't your intention, please contact your system administrator as it may still reside in the litter bin.</div>
 {% endif %}
 <h1 class="nonline">Owned articlesets:</h1>
 {{ owned_articlesets }}
 <div><span class="label label-info">Note</span> Articlesets which are also linked to a codingjob are hidden in this overview.</div>

 <hr/>
 {% if unlinked %}
    <div class="alert alert-success">Successfully unlinked an articleset.</div>
 {% endif %}
 <h1 class="nonline">Linked articlesets:</h1>
 {{ imported_articlesets }}
</div>
{% endblock %}
