{% extends "navigator/project/base.html" %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block content %}

<div>
 <br/>
 <h1 class="noline">Actions</h1>
 <p>
  <a href="{% url "upload-articles" context.id %}" class="btn"><i class="icon-upload"></i> Upload articles</a>
 </p>
 <hr/>
 {% if deleted %}
    <div class="alert alert-success">Successfully deleted an articleset. If this wasn't your intention, please contact your system administrator as it may still reside in the litter bin.</div>
 {% endif %}
 {% if unlinked %}
    <div class="alert alert-success">Successfully unlinked an articleset.</div>
 {% endif %}


<div class="btn-group" data-toggle="buttons-radio">
{% for name, label, filter in tables %}

  <a  class="btn {% if what == name %}active{% endif %}"
      href='{% url "project-articlesets" context.id %}/{{ name }}'>{{ label|safe }}</a>

{% endfor %}
</div>

<br/>

 {{ table }}

{% if no_favourites %}
<div class="alert alert-success">
No favourite sets yet? Use the star icon to add some sets to this
list!<br/> (now showing all sets)
</div>
{% endif %}

</div>
{% endblock %}
