{% extends "navigator/project/base.html" %}

{% block title %}Project {{project.id}} - {{project.name}}{% endblock %}

{% block content %}

<div>
 <br/>
 <h1 class="noline">Actions</h1>
 <p>
{% if can_import %}
  <a href="{% url "codebook-import" project.id %}" class="btn"><i class="icon-edit"></i> Import codebooks</a>
{% endif %}
{% if can_create %}
  <a href="{% url "project-add-codebook" project.id %}" class="btn"><i class="icon-certificate"></i> Create new codebook</a>
{% endif %}
 </p>


 <h1>Imported codebooks</h1>
 {{ linked_codebooks|safe }}

 <h1>Owned codebooks</h1>
 {{ owned_codebooks|safe }}

</div>
{% endblock %}
