{% extends "navigator/project/base.html" %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block content %}

<h1>Copy schema?</h1>
<p>As this schema is imported, you can't edit this schema from within this project. Do you want to copy it to this project and edit it from there?</p>
<p>
<form action="" method="POST">
 
 <input class="btn btn-primary" value="Yes" name="yes" type="submit" />
 <input class="btn" value="No" name="no" type="submit" />
</form>
    
</p>

{% endblock %}
