{% extends "navigator/project/base.html" %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block content %}
<h1 class="noline">Properties of codingschema {{schema.name}}</h1>
<form method="POST" action="">
    <table>
        {{form}}

    </table>

    <div class="form-actions">
        <input type="submit" name="save" class="btn btn-primary"></input>
        <a href="{% url 'project-schema' context.id schema.id %}" name="save" class="btn">Cancel</a>
    </div>

</form>
<p>

</p>
{% endblock %}
