{% extends "navigator/project/base.html" %}

{% block content %}

<form action="" method="POST">
   <legend>Edit details of articleset "{{ articleset.name }}" below.</legend>

   {% if form.is_valid and not form.errors %}
   <div class="alert alert-success">
       Successfully updated 
       <a href="{% url articleset context.id articleset.id %}">{{ articleset.name }}</a>
        in project
        <a href="{% url project context.id %}">{{ context.name }}</a>.
   </div>
   {% endif %}

   <table>
    {{ form.as_table }}
   </table>
 
   <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Save"></input>
    <a href="{% url project context.id %}" class="btn">Cancel</a>
   </div>
</form>


{% endblock %}
