{% extends "navigator/project/base.html" %}
{% load compress %}
{% load staticfiles %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block javascript %}
{% compress js %}
 <script src="{% static 'js/jquery.djangofields.js' %}"></script>
 <script src="{% static 'js/jquery.schemaeditor.js' %}"></script>
 <script src="{% static 'js/jquery.tablednd.0.7.min.js' %}"></script>
{% endcompress %}
 <script>$(function(){ jQuery.fn.schemaeditor("{% url "api" %}v4/", {{schema.id}}, {{context.id}}).main(); });</script>
 {% endblock %}

{% block content %}
<h1>Editing codingschema {{schema.id}}: {{schema.name}}</h1>
<p>
<div name="add-field" class="btn disabled"><i class="icon-plus"></i> Add field</div>
<!--<div name="undo" class="btn disabled"><i class="icon-step-backward"></i> Undo</div>
<div name="redo" class="btn disabled"><i class="icon-step-forward"></i> Redo</div>-->
<a href="" class="btn btn-warning"><i class="icon-white icon-refresh"></i> Reset</a>
</p>
<p><span class="label label-warning">Resetting</span> Resetting only reverts changes which are not saved.</p>
<p name="field_errors"></p>
<p>
<table name="schema" class="table table-striped table-bordered">
 <thead>
  <tr>
   <th name="fieldnr">#</th>
   <th null="{{ fields_null.label|lower }}" editable="true" name="label">Label</th>
   <th null="{{ fields_null.required|lower }}" editable="true" name="required">Required</th>
   <th null="{{ fields_null.fieldtype|lower }}" editable="true" name="fieldtype">Fieldtype</th>
   <th null="{{ fields_null.codebook|lower }}" editable="true" name="codebook">Codebook</th>
   <th null="{{ fields_null.default|lower }}" editable="true" name="default">Default</th>
   <th name="delete"></th>
  </tr>
 </thead>
 <tbody>
  <tr name="loading"><td colspan="7">
   <div class="progress active">
    <div class="bar"></div>
   </div>
  </td></tr>
 </tbody>
</table>

{% include "navigator/project/edit_schema_shortcuts.html" %}

<p><span class="label label-info">Usage</span> You can <b>order</b> fields by draggin them to the desired place. To <b>edit</b> a field, double click on a cell you wish to edit. When your done editing, click outside the table or press <code>enter</code>. For efficient usage, <a data-toggle="modal" href="#keyboard-shortcuts">keyboard shortcuts</a> are available.</p>

</p>

<div class="form-actions">
<div name="save" class="btn btn-primary disabled">Save</div>
<a href="{% url "project-schema" context.id schema.id %}" class="btn">Cancel</a>
</div>
{% endblock %}
