{% extends "navigator/project/base.html" %}

{% block title %}Project {{project.id}} - {{project.name}}{% endblock %}

{% block content %}


<div>
 <h1 class="noline">Select options for exporting below</h1>
 <form method="POST">
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

  <table>
{% for section, fields in sections.items %}
<tr><th colspan="2">{{ section }}</th></tr>
  {% for id, field, subfields in fields %}
  <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td><td>{{ field.errors }}</td></tr>
  {% for id, subfield in subfields %}
    <tr><td class='subfield'>{{ subfield.label_tag }}</td><td>{{ subfield }}</td><td>{{ subfield.errors }}</td></tr>
  {% endfor %}
  {% endfor %}
{% endfor %}

</table>
  <input type="submit"></input>
  </form>
<pre>{{ results|safe }}</pre>
</div>
{% endblock %}
