{% extends "navigator/project/base.html" %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block content %}

<div>
 <br/>
 <h1 class="noline">Actions</h1>
 <p>
  <a href="{% url project-new-schema context.id %}" class="btn"><i class="icon-certificate"></i> New schema</a>
  <a href="{% url codebook-import context.id %}" class="btn"><i class="icon-edit"></i> Import schemas</a>
 </p>

 <h1>Imported schemas</h1>
 {{ linked_schemas|safe }}

 <h1>Owned schemas</h1>
 {{ owned_schemas|safe }}

</div>
{% endblock %}
