{% extends "navigator/project/base.html" %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block content %}
{% if is_new %}
<br/><div class="alert alert-success">Schema successfully copied. To return to an overview of all your codingschemas click again on the tab 'codingschemas' above.</div>
{% endif %}

{% if is_edited %}
<br/><div class="alert alert-success">Schema succesfully edited.</div>
{% endif %}
<h1 class="noline">Actions</h1>
<p>
<a href="{% url "project-edit-schema" context.id schema.id %}" class="btn btn"><i class="icon-edit"></i> Edit schema</a>
<a href="{% url "project-name-schema" context.id schema.id %}" class="btn"><i class="icon-share"></i> Copy schema</a>

<a class="btn btn-danger confirm" href="{% url "project-delete-schema" context.id  schema.id %}"
   data-confirm="You're about to delete schema <i>{{ schema.name }}</i>. This action is not reversible." 
   <i class="icon-white icon-trash"></i>
   Delete
</a>


</a>

<h1>Schema {{schema.id}} : {{schema.name}}</h1>

{{ table }}

{% endblock %}
