{% extends "navigator/project/base.html" %}

{% block content %}

<h1>Upload articles to <i>{{context.name}}</i></h1>
{% if error %}<div style="margin-bottom:10px;" class="error">{{ error }}</div>{% endif %}
<form method="POST" enctype="multipart/form-data" action="">
<table>
 {{ form.as_table }}
 <tr><th></th><td><input type="submit" name="submit" /></td></tr>
</table>
</form>

{% for name, frm in option_forms.items %}
 <div class="hidden" id="option_form_{{ name }}">
  <table>{{ frm.as_table }}</table>
 </div>
{% endfor %}

<script type="text/javascript">
 $(function(){
  $('#id_script').change(function(event){
   // When element changed, try to insert new form-part
   var script = event.currentTarget.value;
   var pscript = event.currentTarget.previousValue;
   var script_div_id = "#option_form_" + script;
   var pscript_div_id = "#option_form_" + pscript;

   if (pscript != undefined){
    // Move current form back to previous position
    var tbody = $($(pscript_div_id + " tbody")[0])

    $.each($(".option_form_tr"), function(i, el){
     $(el).removeClass("option_form_tr");
     $(tbody).append(el);     
    });
   }

   var tr = $(event.currentTarget).parent().parent();
   $.each($(script_div_id + " tr"), function(i, el){
    tr.after(el); $(el).addClass("option_form_tr");
   })

   event.currentTarget.previousValue = script;

  }).focus(function(event){
   // Set previousValue on focus
   event.currentTarget.previousValue = event.currentTarget.value;
   });

  $('#id_script').change();
 });
</script>
{% endblock content %}

