{% extends "navigator/project/base.html" %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block content %}

{% if created_set %}
<div class="alert alert-success">Successfully uploaded {{created_n}}
  article(s)! You can use the form below to upload more articles, or inspect the
<a href="{% url "articleset" created_set.project_id created_set.id %}">article set {{created_set}}</a>
<br>
</div>
{% endif %}

<legend> Uploading articles using {{plugin.label}} </legend>

<form method="POST" enctype="multipart/form-data" action="">
 <table>
  {{ form.as_table }}
 </table>
 <div class="form-actions">
 <input class="btn btn-primary" type="submit" value="Upload"></input>
 <a href="" class="btn">Cancel</a>
 </div>
</form>

{% endblock %}
