



<div id="project_buttons">
<a href="{% url "project-articlesets" context.id %}" class="btn btn-large"><i class="icon-folder-open"></i> View Articles</a>
<a href="{% url "upload-articles" context.id %}" class="btn btn-large"><i class="icon-upload"></i> Add Articles</a>
<a href="{% url "project-selection" context.id %}" class="btn btn-large"><i class="icon-cog"></i> Query</a>
<a href="{% url "project-codingjobs" context.id %}" class="btn btn-large"><i class="icon-picture"></i> Coding Jobs</a>
</div>

<script type="text/javascript">
 /* Convert each button to a clickable button */
 $.each($('.buttons .button'), function(i, el){
  var href = $('a', el)[0].href;
  $(el).click((function(){
    window.location=this;
   }).bind(href));
 });
</script>

<h1>Details</h1>

  <table class="key_value">
   <tr>
    <td>ID:</td>
    <td>{{context.id}}</td>
   </tr>
   <tr>
    <td>Name:</td>
    <td>{{context.name}}</td>
   </tr>
   <tr>
    <td>Description:</td>
    <td>{{context.description}}</td>
   </tr>
   <tr>
    <td>Index by default:</td>
    <td>{% if context.index_default %}Yes{% else %}No{% endif %}</td>
   </tr>
  </table>

  <a class="btn" href="{% url "project-edit" context.id %}">
      <i class="icon-edit"></i>
      Edit details
  </a> 
