{% extends "navigator/project/base.html" %}
{% load menu %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block content %}

<h1>
 <a href="{% url "project" context.id %}?star={{starred|yesno:'0,1'}}"><img src="{{ MEDIA_URL }}/img/star{{starred|yesno:',_bw'}}_24.png" /></a>
 Project {{context.id}} : {{ context.name }}
</h1>
{% if edited %}
<br/>
<div class="alert alert-success">Project details saved successfully.</div>
{% endif %}
<div>
 {% include "navigator/project/view_details.html" %}
</div>
{% endblock %}
