python-memcache
python-lxml
python-numpy
python-nltk
python-beautifulsoup
python-unidecode
python-httplib2
python-rdflib
python-requests
python-openpyxl
python-html2text
python-psycopg2
python-pdfminer
python-requests
python-nltk
python-pdfminer
python-levenshtein
unrtf
rabbitmq-server
