jsonrpclib
rtf2xml
sh
cssselect
elasticsearch
pyparsing
colorlog
celery>=3.1.5
python-dateutil
python-memcached
django
djangorestframework==2.3.8
django-boolean-sum
django_compressor
django_filter
django_extensions
