python-dateutil
python-memcached
django
djangorestframework>=2.3.8
django-boolean-sum
django_compressor
django_filter
django_extensions
django_json_field
celery>=3.1.5
elasticsearch
pyparsing
lxml
beautifulsoup
unidecode
requests
sh
cssselect
colorlog
psycopg2
chardet
html2text
pypdf2
