{% extends "project/base.html" %}
{% load static %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery.exportids.js' %}"></script>
{% endblock %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block actions %}
    <a class="btn btn-primary"  href="{% url 'article set-upload-list' project.id %}" ><i class="glyphicon glyphicon-upload"></i> Upload articles</a>
{% endblock %}

{% block content %}
    {% if can_edit %}
    <div id="{{ table.get_name }}-actions">
        <form id="set-favourite"
              action=""
              data-id-field="[name=ids]" data-table="#datatable" data-require-selection="1">
            <input type="hidden" name="favaction" value="{{ favaction }}">
            <input type="hidden" name="ids" />

            <input type="submit" id="favourite" class="btn btn-default"
                   value="{% if favaction == 'setfav' %}Activate Set(s){% else %}Archive Set(s){% endif %}" />
        </form>
    </div>
    {% endif %}


    {% if deleted %}
        <div class="alert alert-success">Successfully deleted an articleset. If this wasn't your intention, please contact your system administrator as it may still reside in the litter bin.</div>
    {% endif %}
    {% if unlinked %}
        <div class="alert alert-success">Successfully unlinked an articleset.</div>
    {% endif %}
    <ul class="nav nav-tabs nav-justified" style="margin-bottom: 1em">
        <li {% if what == 'favourites' %}class="active"{% endif %}><a href='{% url "article set-list" project.id "favourites"%}'>
            <i class="glyphicon glyphicon-star"></i>Active Sets
        </a></li>
        <li {% if what == 'archived' %}class="active"{% endif %}><a  href='{% url "article set-list" project.id "archived"%}'>Archived Sets</a></li>
        <li {% if what == 'coding' %}class="active"{% endif %}><a  href='{% url "article set-list" project.id "coding"%}'>Coding Job Sets</a></li>
    </ul>

    <div id="datatable">
        {{ table }}
    </div>

    {% if no_sets %}
        <div class="alert alert-info">
            This project is empty! Use the 'upload articles' button above to add some articles to this
            project, or navigate to an article set in another project and select
            'use in another project' to link that set to this project.
        </div>
    {% elif no_favourites %}
        <div class="alert alert-info">
            No active sets? Use the 'activate set' button to add sets to the favourite list!
        </div>
    {% endif %}

    </div>


    <script type="text/javascript">
        exportids($("#set-favourite"));
    </script>
{% endblock %}
