{% extends "project/base.html" %}
{% load staticfiles %}

{% block title %}Project {{project.id}} - {{context.name}}{% endblock %}

{% block javascript %}
    <script src="{% static 'js/actions/articleset_details.js' %}"></script>
{% endblock %}

{% block actions %}
    <!-- action forms -->
    <form id="action-form-articleset-delete" action="{% url "navigator:articleset-delete" project.id  object.id %}" method="POST">
        {% csrf_token %}
    </form>
    <form id="action-form-articleset-unlink" action="{% url "navigator:articleset-unlink" project.id  object.id %}" method="POST">
        {% csrf_token %}
    </form>
    <form id="action-form-articleset-refresh" action="{% url "navigator:articleset-refresh" project.id  object.id %}" method="POST">
        {% csrf_token %}
    </form>
    <!-- /action forms -->

    <div class="btn-group">
    <a class="btn btn-primary" href="{% url "navigator:query" project.id %}?sets={{ object.id }}"><i class="glyphicon glyphicon-cog"></i>Query</a>
    {% if can_edit and  object.project.id == project.id %}
        <button type="submit" class="btn btn-default confirm" form="action-form-articleset-refresh" data-confirm="You're about to refresh the index for <i>{{ object.name }}</i>. This action can take a while, and all articles in the index will be unavailable for search in the meantime." ><i class="glyphicon glyphicon-refresh"></i> Refresh Index</button>
        <a class="btn btn-default" href="{% url "navigator:articleset-deduplicate" project.id object.id %}"><i class="glyphicon glyphicon-duplicate"></i> Deduplicate</a>
    {% endif %}
        {% if can_view_text %}
    <a class="btn btn-default" href="{% url "navigator:articleset-import" project.id object.id %}"><i class="glyphicon glyphicon-share"></i> Use in another project</a>
    {% endif %}
    {% if can_edit %}
        <a class="btn btn-default" href="{% url "navigator:articleset-sample" project.id object.id %}"><i class="glyphicon glyphicon-filter"></i> Sample</a>

        {% if object.project.id == project.id %}
            <a class="btn btn-default" href="{% url "navigator:articleset-edit" project.id object.id %}"><i class="glyphicon glyphicon-edit"></i> Edit details</a>
            <button type="submit" form="action-form-articleset-delete" class="btn btn-danger confirm"  data-confirm="You're about to delete <i>{{ object.name }}</i>. This action is not reversible."> <i class="glyphicon glyphicon-trash"></i> Delete</button>
        {% else %}
            <button type="submit" form="action-form-articleset-unlink" class="btn btn-warning confirm" data-confirm="You're about to unlink <i>{{ object.name }}</i>." ><i class="glyphicon glyphicon-remove"></i> Unlink</button>
        {% endif %}

    {% endif %}
    </div>

{% endblock actions %}

{% block details %}
    <div style="display:none;" class="btn-group" id="{{ table.get_name }}-actions">
        <button id="btn-remove-selected-from-set" class="btn btn-default disabled"><i class="glyphicon glyphicon-remove"></i> Remove</button>
        <button id="btn-add-to-set" class="btn btn-default disabled" data-toggle="modal" data-project-id="{{ project.id }}" data-target="#add_to_set_modal">
            <i class="glyphicon glyphicon-plus"></i> Add to other
        </button>
    </div>

    {% include "project/modal_add_to_set.html" %}

    <br/>

    <div class="panel panel-default" style="margin-bottom: 1em">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Article Set Details
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="key_value">
                    <tr>
                        <td>ID:</td>
                        <td>{{object.id}}</td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>{{object.name}}</td>
                    </tr>
                    <tr>
                        <td>Project:</td>
                        <td><a href="{% url 'navigator:articleset-list' object.project_id %} ">{{object.project_id}} : {{object.project}}</a></td>
                    </tr>
                    <tr>
                        <td>Provenance:&nbsp;</td>
                        <td>{{object.provenance|linebreaks}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock details %}

{% block content %}
    <label>Articles</label>
    {{ table }}
{% endblock %}
