{% extends "project/base.html" %}

{% block content %}

    {% if scraper_main_error %}
        <div class="alert alert-error">
            Uploading was unsuccessful because of the following error: {{ scraper_main_error }}
            {% if scraper_errors %}
                <hr/>
                A number of errors where encountered while scraping that may have caused this:
                {{ scraper_errors|unordered_list }}
            {% endif %}
        </div>
    {% endif %}

    {% if created_set %}
        {% if scraper_errors %}
            <div class="alert alert-warning">Uploaded {{ created_n }} article(s) into <a
                    href="{% url "navigator:articleset-details" created_set.project_id created_set.id %}">articleset {{ created_set }}</a>.
                However,
                some errors where encountered while uploading:
                {{ scraper_errors|unordered_list }}
            </div>
        {% else %}
            <div class="alert alert-success">Successfully uploaded {{ created_n }}
                article(s)! You can use the form below to upload more articles, or inspect the
                <a href="{% url "navigator:articleset-details" created_set.project_id created_set.id %}">articleset {{ created_set }}</a>
                <br>
            </div>
        {% endif %}
    {% endif %}

    <legend> Uploading articles using {{ script_name }} </legend>
    <form method="POST" enctype="multipart/form-data" action="">

        {{ wizard.management_form }}
        {% if is_field_mapping_form %}
        {{ form.management_form }}
        {% endif %}
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <table>
            {{ form.as_table }}
        </table>
        <table>
            <thead>
            <tr>
                {% for field in fieldmap.forms.0.fields %}
                    <th>{{ field|title }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for formpart in fieldmap.forms %}
                <tr>
                    {% for field in formpart %}
                        <td> {{ field }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Upload">
            <a href="{{ cancel_url }}" class="btn">Cancel</a>
        </div>
    </form>

    {% if script_doc %}
        <br/>
        <div class="alert alert-info" style="white-space:pre-wrap">{{ script_doc }}</div>
    {% endif %}

{% endblock %}
