{% extends "project/base.html" %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block actions %}
{% if can_edit %}
  <a href="{% url "codingjob-add" context.id %}" class="btn btn-primary"><i class="icon-certificate"></i> New codingjob</a>
{% endif %}
  <a href="{% url "project-codingjobs-export-select" context.id %}"  class="btn btn-default">Export codingjobs</a>
{% endblock %}

{% block content %}
 {% if deleted %}
    <div class="alert alert-success">Successfully deleted the coding job. If this wasn't your intention, please contact your system administrator as it may still reside in the litter bin.</div>
 {% endif %}
 {% if added %}
    <div class="alert alert-success">
      {% for job in added %}
      Created job: <a href='{% url "codingjob" context.id job.id %}'>{{job.id}} : {{job}}</a><br/> 
      {% endfor %}
    </div>
</div>
 {% endif %}

 {{ table|safe }}

{% endblock %}
