{% extends "project/base.html" %}
{% block help_context %}Create_codingschemes{% endblock %}

{% block content %}
<legend>Please provide details for the new schema</legend>
<form method="POST" action="">
    {% csrf_token %}
<table>
{{ form.as_table }}
</table>

<div class="form-actions">
  <input type="submit" name="save" class="btn btn-primary"></input>
  <a href="{% url 'navigator:codingschema-list' project.id  %}" name="save" class="btn">Cancel</a>
</div>


<script>
    require(["jquery", "query/multiselect-defaults", "bootstrap-multiselect"], function($, defaults){
        $(".multiselect").multiselect(defaults);
    })
</script>
{% endblock %}
