{% extends "project/base.html" %}

{% block title %}Project {{project.id}} - {{project.name}}{% endblock %}

{% block content %}
<style>
    .form-group{ margin-bottom:0; }
    .form-group.row:hover{ background-color: #f8f8f8; }
    .form-group.row{ display:block; }
    .form-horizontal .control-label{ text-align: left !important;}
</style>

<div>
 <h1 class="noline">Select options for exporting below</h1>
 <p>
     Date formatting options are expanded upon
     <a href="https://docs.python.org/2/library/datetime.html#id1">here</a>.
     You can choose any of the available options.
 </p>
 <form method="POST" class="form-horizontal">
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% if hidden.errors %}{{ hidden.name}} : {{ hidden.errors }}{% endif %}
    {% endfor %}

{% for section, fields in sections.items %}
<legend>{{section}}</legend>
  {% for id, field, subfields in fields %}
  <label for="{{ field.auto_id }}" class="form-group row">
    <label for="{{ field.auto_id }}" class="col-sm-4 control-label">{{ field.label_tag }}</label>
    <div class="col-sm-8">{{ field }}{{ field.errors }}</div>
  </label>
    {% for id, subfield in subfields %}
        <label for="{{ subfield.auto_id }}" class="form-group row">
            <div class="col-sm-1"></div>
            <label for="{{ subfield.auto_id }}" class="col-sm-3 control-label">{{ subfield.label_tag }}</label>
            <div class="col-sm-8">{{ subfield }}{{ subfield.errors }}</div>
        </label>
    {% endfor %}
  {% endfor %}
{% endfor %}

</table>
  <input type="submit"></input>
  </form>
<pre>{{ results|safe }}</pre>
</div>
{% endblock %}
