{% extends "project/base.html" %}
{% load static %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block actions %}
    {% if can_edit %}
        <a href="{% url "navigator:codingjob-add" context.id %}" class="btn btn-primary"><i class="icon-certificate"></i> New codingjob</a>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery.exportids.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="{{ table.get_name }}-actions">

        <div class="modal" id="link-form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Link Codingjobs</h4>
                    </div>
                    <form class="modal-body" id="link-project" data-table="#all-codingjobs" data-id-field="[name=codingjobs]"  method="post" action="{% url "navigator:codingjob-link-codingjob" project.id %}">
                        {% csrf_token %}
                        <input type=hidden name="codingjobs" id="codingjob">
                        {{ link_form.target_project }}
                        <input type="submit" class="btn btn-primary"> <button type="button" class="btn btn-default" data-toggle="modal" data-target="#link-form">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
        <button class="btn btn-default" data-toggle="modal" data-target="#link-form">Link To Other Project</button>
        {% if what == "linked" %}
        <div class="modal" id="unlink-form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Link Codingjobs</h4>
                    </div>
                    <form class="modal-body" id="unlink-project" data-table="#all-codingjobs" data-id-field="[name=codingjobs]"  method="post" action="{% url "navigator:codingjob-unlink-codingjob" project.id %}">
                        {% csrf_token %}
                        <input type=hidden name="codingjobs" id="codingjob">
                        <p>This will unlink the codingjobs from this project. They will have to be linked from the original project in order to be used again. Are you sure? </p>
                        <input type="submit" class="btn btn-warning" value="Unlink"> <button type="button" class="btn btn-default" data-toggle="modal" data-target="#unlink-form">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
        <button class="btn btn-default" data-toggle="modal" data-target="#unlink-form">Unlink</button>
        {% else %}
        <form id="set-favourite" action=""
              data-id-field="[name=ids]" data-table="#all-codingjobs" data-require-selection="1">
            {% csrf_token %}
            <input type="hidden" name="favaction" value="{{ favaction }}">
            <input type="hidden" name="ids" />
            <input type="submit" id="favourite" class="btn btn-default"
                   value="{% if favaction == 'setfav' %}Activate Job(s){% else %}Archive Job(s){% endif %}" />
        </form>
        {% endif %}

        <!-- Because GET can only handle so much ids, we need to use POST. -->
        <form id="export-codingjobs" method="post"
              action="{% url "navigator:codingjob-export-select" context.id %}"
              data-id-field="[name=codingjobs]" data-table="#all-codingjobs">

            {% csrf_token %}
            <input type="hidden" name="what" value="{{what}}" />
            <input type="hidden" name="codingjobs" />
            <input type="hidden" name="export_level" />
            <input class="hide" type="submit" />

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Export codingjobs
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li><a name="0" href="#">Article codings</a></li>
                <li><a name="1" href="#">Sentence codings</a></li>
                <li><a name="2" href="#">Article and sentence codings</a></li>
            </ul>
        </form>
    </div>
    <!-- Set inputfield 'submit' when clicking on one of the dropdown options,
         according to their 'name' attribute. -->
    <script type="text/javascript">
    requirejs(["jquery"], function($) {
        $("#export-codingjobs a").click(function(event){
            var target = $(event.currentTarget);
            var form = target.parents("form");
            form.find("[name=export_level]").val(target.attr("name"));
            form.submit();
        });
    });
    </script>

    <p>
        <span class="label label-info">Note</span>
        You can select rows by holding <code>ctrl</code> or <code>shift</code>
        and clicking on a row.
    </p>

 {% if deleted %}
    <div class="alert alert-success">Successfully deleted the codingjob. If this wasn't your intention, please contact your system administrator as it may still reside in the litter bin.</div>
 {% endif %}
 {% if added %}
    <div class="alert alert-success">
      {% for job in added %}
      Created job: <a href='{% url "navigator:codingjob-details" context.id job.id %}'>{{job.id}} : {{job}}</a><br/>
      {% endfor %}
    </div>
 {% endif %}


<ul class="nav nav-tabs nav-justified" style="margin-bottom: 1em">
  <li {% if what == 'active' %}class="active"{% endif %}><a href='{% url "navigator:codingjob-list" project.id "active"%}'>
    <i class="glyphicon glyphicon-star"></i>Active Jobs
  </a></li>
  <li {% if what == 'linked' %}class="active"{% endif %}><a  href='{% url "navigator:codingjob-list" project.id "linked"%}'>Linked Jobs</a></li>
  <li {% if what == 'archived' %}class="active"{% endif %}><a  href='{% url "navigator:codingjob-list" project.id "archived"%}'>Archived Jobs</a></li>
</ul>

<div id="all-codingjobs">
 {{ table|safe }}
</div>

<script type="text/javascript">
requirejs(["jquery"], function($){
  exportids($("#export-codingjobs"));
  exportids($("#set-favourite"));
  exportids($("#link-project"));
  exportids($("#unlink-project"));
});
</script>

{% endblock %}
