{% extends "base.html" %}
{% load static %}

{% block title %}{{ what }} projects {% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery.exportids.js' %}"></script>
{% endblock %}


{% block actions %}
  <a href="{% url "projects-add" %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create Project</a>
{% endblock %}


{% block content %}
<div id="{{ table.get_name }}-actions">
  <form id="set-favourite" action="" data-id-field="[name=ids]" data-table="#project-table" data-require-selection="1">
    <input type="hidden" name="favaction" value="{{ favaction }}">
    <input type="hidden" name="ids" />
    <input type="submit" id="favourite" class="btn btn-default" value="{% if favaction == 'setfav' %}Activate Project(s){% else %}Archive Project(s){% endif %}" />
  </form>

</div>


<ul class="nav nav-tabs nav-justified" style="margin-bottom: 1em">
  <li {% if what == 'favourites' %}class="active"{% endif %}><a href='{% url "projects" "favourites"%}'>
    <i class="glyphicon glyphicon-star"></i>Active Projects
  </a></li>
  <li {% if what == 'own' %}class="active"{% endif %}><a  href='{% url "projects" "own"%}'>My Archived Projects</a></li>
  <li {% if what == 'all' %}class="active"{% endif %}><a  href='{% url "projects" "all"%}'>All Projects</a></li>
</ul>

<div id="project-table">
{{ table|safe }}
</div>


<script type="text/javascript">
  exportids($("#set-favourite"));
</script>

{% endblock %}
