{% extends "project/base.html" %}
{% load misc %}

{% block css %}
<style>

input#id_sentence {width: 50em}

sup {font-weight: bold}
div.token {display: inline}
.source_0 {background: #99f; border-bottom: solid 2px #99f}
.quote_0 {border-top: solid 2px #99f}
.source_1 {background: #c9c; border-bottom: solid 2px #c9c}
.quote_1 {border-top: solid 2px #c9c}

.subject_0 {background: #f99; border-bottom: solid 2px #f99}
.predicate_0 {border-bottom: solid 2px #f99}

.subject_1 {background: #9f9; border-bottom: solid 2px #9f9}
.predicate_1 {border-bottom: solid 2px #9f9}

.subject_2 {background: #cc9; border-bottom: solid 2px #cc9}
.predicate_2 {border-bottom: solid 2px #cc9}

.attack {color:red}
.israel {color:blue}
.palestine {color:green}
.stop {color: #b0b}
.not {color: #0bb}
.civilian {color: #963}
.withdraw {color: #96f}
.terror {color: #c90}

h3 {font-size: large; border-bottom: 1px dotted gray}
</style>
{% endblock %}


{% block content %}

<form action="" enctype="multipart/form-data" method="GET">
{% csrf_token %}
   <table>
    {{ form.as_table }}
   </table>

   <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Process"></input>
    <a href="{{ cancel_url }}" class="btn">Cancel</a>
   </div>
</form>
<h3>Sentence:</h3>
{% for token in tokens %}
  <div class="token {% if token.clause_role %}{{token.clause_role}}_{{token.clause_id}}{% endif %} {% if token.source_role %}{{token.source_role}}_{{token.source_id}}{% endif %}{% for code in token.codes%} {{code}}{%endfor%}">
    {{ token.word }}{% if token.coref %}<sup>{{ token.coref }}</sup>{% endif %}
  </div>
{% endfor %}

<h3>Clauses:</h3>
<table border=1>
  <tr><th>Clause</th><th>Source</th><th>Subject</ht><th>Predicate</th><th>Subject codes</th><th>Predicate codes</th><<th>Frames</th></tr>
  {% for clause in clauses %}
  <tr>
    <td class="subject_{{ forloop.counter0 }}">
      {{ forloop.counter0 }}
    </td>
    <td>
      {% for token in clause.source %}
        <div class="token {% if token.source_role %}{{token.source_role}}_{{token.source_id}}{% endif %}{% for code in token.codes%}{{code}} {%endfor%}">
          {{ token.word }}
        </div>
      {% endfor %}
    </td>
    <td>
      {% for token in clause.subject %}
        <span class="{% for code in token.codes%}{{code}} {%endfor%}" title="{% for code in token.codes%}{{code}} {%endfor%}">
          {{ token.word }}
        </span>
      {% endfor %}
    </td>
    <td>
      {% for token in clause.predicate %}
        <span class="{% for code in token.codes%}{{code}} {%endfor%}" title="{% for code in token.codes%}{{code}} {%endfor%}">
          {{ token.word }}
        </span>
      {% endfor %}
    </td>
    <td>
      {% for code in clause.subject_codes %}
      <span class="{{ code }}">{{ code }}</span>
      {% endfor %}
    </td>
    <td>
      {% for code in clause.predicate_codes %}
      <span class="{{ code }}">{{ code }}</span>
      {% endfor %}
    </td>
    <td>
      {% for frame in clause.frames %}
      <span class="{{ frame }}">{{ frame }}</span>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

<h3>Codes:</h3>
<ul>
  {% for code in codes %}
    <li><span class="{{code}}">{{code}}</span>
  {% endfor %}
</ul>

<h3>Tokens:</h3>
{% with attrs="id sentence offset word lemma pos pos1 coref codes source_id source_role clause_id clause_role" %}

<table border=1>
  <tr>
    {% for a in attrs.split %}<th>{{ a }}</th>{% endfor %}
  </tr>
  {% for t in tokens %}
  <tr>
    {% for a in attrs.split %}
    <td>
      {% with val=t|get_item:a %}
      {% if val == None %}
      -
      {% else %}
      <span
	 {% if a == 'clause_id' %}
	   class="subject_{{ val }}"
	 {% elif a == 'source_id' %}
	   class="source_{{ val }}"
	 {% endif %}
	 >
         {{ val|join_list:"," }}
      </span>
      {% endif %}
      {% endwith %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endwith %}
<h3>Parse:</h3>
<object type='image/png' data='data:image/png;base64,{{ tree | safe }}'></object>

<h3>SAF:</h3>
<pre>
{{ saf }}
</pre>
{% endblock %}
