{% extends "project/base.html" %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'css/sortselect.css' %}" rel="stylesheet" type="text/css"  />
{% endblock %}

{% block javascript %}
    <script lang="javascript">
        require(['jquery', 'bootstrap-multiselect'], $ => $('.multiselect').multiselect());

        require(["jquery", "amcat/sortselect"], function($){
            $("#id_display_columns").sortSelect();
        })
    </script>
{% endblock %}
{% block content %}

{% if can_edit %}

<form action="" method="POST">
{% csrf_token %}
    <legend>Edit project details of project {{project.id}}: "{{ project.name }}"</legend>
   <table>
    {{ form.as_table }}
   </table>

   <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Save"></input>
    <a href="{% url "navigator:project" project.id %}" class="btn">Cancel</a>
   </div>
</form>

{% else %}

<legend>Project Details</legend>
<table class="key_value">

 {% for field in form %}
<tr>
<th>{{ field.label }}</th><td> {{field.value}}</td>
</tr>
 {% endfor %}
</table>
{% endif %}

{% endblock %}
