{% extends "navigator/base.html" %}

{% block title %}{{ what }} projects {% endblock %}



{% block content %}

<ul class="nav nav-tabs nav-justified" style="margin-bottom: 1em">
  <li {% if what == 'favourites' %}class="active"{% endif %}><a href='{% url "projects" "favourites"%}'>
    <i class="glyphicon glyphicon-star"></i>Favourite Projects
  </a></li>
  <li {% if what == 'own' %}class="active"{% endif %}><a  href='{% url "projects" "own"%}'>My Projects</a></li>
  <li {% if what == 'all' %}class="active"{% endif %}><a  href='{% url "projects" "all"%}'>All Projects</a></li>
</ul>

{{ table|safe }}
{% endblock %}

{% block actions %}
  <a href="{% url "project-add" %}" class="btn btn-primary"><i class="icon icon-plus"></i>Create Project</a>
{% endblock %}

