{% extends "project/base.html" %}
{% load compress %}
{% load staticfiles %}


{% block help_context %}Querying{% endblock %}

{% block css %}
{% compress css %}
    <link href="{% static 'css/selection.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'components/highlight/src/styles/github.css' %}" rel="stylesheet" type="text/css" media="screen" />
{% endcompress %}
{% endblock %}
{% block javascript %}
  {% if articlesets %}
    {% block base_javascript %}{% endblock %}

    <script>
      require(["amcat/query"], function(queryScreen){
          queryScreen.init();
      });
    </script>
  {% endif %}
{% endblock %}

{% block title %}Project {{context.id}} - {{context.name}}{% endblock %}

{% block content %}
  {% if not articlesets %}
      {% include "project/query/no_articlesets.html" %}
  {% else %}
      <form data-jobs="{{ codingjob_ids_json }}" data-sets="{{ articleset_ids_json }}" data-user="{{ user_id }}" data-query="{{ query_id }}" id="query-form">
          {% csrf_token %}
          {% include "project/query/form.html" %}
      </form>

      <div class="row">
          <div class="col-md-12">
              <div id="result">
                  <div class="panel panel-default">
                      <div class="panel-heading">Results</div>
                      <div class="panel-body"><i>No results yet</i></div>
                  </div>
              </div>
          </div>
      </div>

      {% include "project/query/loading_dialog.html" %}
      {% include "project/query/articlelist_dialog.html" %}
      {% include "project/query/save_dialog.html" %}
      {% include "project/query/change_articlesets_dialog.html" %}
  {% endif %}
{% endblock %}
