{% extends "project/base.html" %}

{% block content %}

<h1>Sentences</h1>

<ul>
{% for id, s, errs in sentences %}
 <li> {% if id == sid %}
{{id}} : {{s}}
{% else %}
<a href="?sid={{id}}">{{id}} : {{ s }} </a>
{% endif %}
{% if errs %}
  <em style="color: red; font-weight: bold">ERRORS:
    {% for err in errs %} {{ err.module }} : {{ err.error }} {% endfor %}
  </em>
{% endif %}
{% endfor %}
</ul>


<h1>Processed Tree</h1>

<object type='image/png' data='data:image/png;base64,{{ processed_tree | safe }}'></object>

{% for name, tree in trees %}
<h1>{{ name }}</h1>

<object type='image/png' data='data:image/png;base64,{{ tree | safe }}'></object>
{% endfor %}

{% if preprocessed_tree %}
<h1>Preprocessed Tree</h1>

<object type='image/png' data='data:image/png;base64,{{ preprocessed_tree | safe }}'></object>
{% endif %}


<h2>Ruleset:</h2>
<pre>
{{ ruleset_dump }}
</pre>

<h2>Article SAF</h2>
<pre>
{{ saf_dump }}
</pre>

{% endblock %}
