{% extends "project/base.html" %}
{% load staticfiles %}
{% load markdown %}

{% block css %}
    <link href="{% static 'components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}
{% if script_doc %}
    <div class="alert alert-info">{{ script_doc|markdown }}</div>
{% endif %}

<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
   <legend>Please enter options for {{ script_name }} below.</legend>
   {% include "form_snippet.html" with form_inline=True %}
 
   <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Save"></input>
    <a href="{{cancel_url}}" class="btn">Cancel</a>
   </div>
</form>

<script>
    require(["jquery", "query/multiselect-defaults", "bootstrap-multiselect"], function($, defaults){
        $(".multiselect").multiselect(defaults);
    })
</script>


{% endblock %}
