{% extends "project/base.html" %}
{% load staticfiles %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/task.js' %}"></script>
    <script type="text/javascript">task("{{ task.uuid }}");</script>
{% endblock %}


{% block details %}
<div class="panel panel-default" style="margin-bottom: 1em">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Task details
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
      <table class="key_value" style="width:100%">
	<tr>
	  <td>ID:</td>
	  <td>{{object.id}}</td>
	</tr>
	<tr>
	  <td>UUID:</td>
	  <td>{{object.uuid}}</td>
	</tr>
	<tr>
	  <td>Class:</td>
	  <td>{{object.class_name}}</td>
	</tr>

      </table>
    </div>
  </div>
</div>

{% endblock details %}

{% block content %}

<div class="panel panel-default" style="margin-bottom: 1em">
  <div class="panel-heading">
    <h4 class="panel-title">
      Task progress
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body">
      <table class="key_value" style="width:100%">

	<tr>
	  <td>Task started:&NonBreakingSpace;</td>
	  <td>{{object.issued_at}} by {{object.user}}</td>
	</tr>
        <tr>
          <td>Status:</td>
          <td id="status">PENDING</td>
        </tr>
        <tr class="hide-if-success">
          <td>Message:</td>
          <td id="message">{{ async_result.progress.message }}</td>
        </tr>
        <tr>
          <td>Progress:</td>
          <td id="completed">{{ async_result.progress.completed }}
<div class="progress progress-striped active" style="margin: 1em 1em 1em 0em">
  <div class="progress-bar" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    <span class="sr-only"><span id="progressalt">0</span>% Complete</span>
  </div>
</div>

</td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% if next %}
<a href="{{ next }}" class="btn btn-primary">
    Return to previous page
</a>
{% endif %}

<a style="display:none;" id="results" class="btn btn-success">
    <i class="glyphicon glyphicon-download"></i>
    <span id="redirect_name"></span>
</a>

{% endblock %}
