{% extends "project/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'css/sortselect.css' %}" rel="stylesheet" type="text/css"  />
{% endblock %}

{% block javascript %}
    <script lang="javascript">
        require(['jquery', 'bootstrap-multiselect'], $ => $('.multiselect').multiselect());

        require(["jquery", "amcat/sortselect"], function($){
            $("#id_display_columns").sortSelect();
        })
    </script>
{% endblock %}
{% block content %}

<form action="" method="POST">
{% csrf_token %}
{% for field in form.management_form.hidden_fields %}{{ field }}{% endfor %}
{% for f in form %}
    {% for field in f.hidden_fields %}{{ field }}{% endfor %}
{% endfor %}
    <legend>Invite one or more users to project {{ project.id }}: "{{ project.name }}"</legend>
    <div class="form-inline">
    {% with management_form=form.management_form|bootstrap_form_controls %}
        {% for field in management_form.visible_fields %}
            <p><label for="{{ field.auto_id }}">{{ field.label }}</label> <span>{{ field }}</span> <br><small>{{ field.help_text }}</small></p>
        {% endfor %}
    {% endwith %}
    </div>
    <p>{{ form.non_field_errors }}</p>
    <table id="formset-table" class="table table-condensed">
        <thead>
        {% with f=form.0 %}
            <tr>
            {% for field in f.visible_fields %}
                <th>{{ field.label }}</th>
            {% endfor %}
            </tr>
        {% endwith %}
        </thead>
        <tbody>
        {% for f in form %}
            {% with f=f|bootstrap_form_controls %}
            <tr class="{% if f.email.data and not f.exists.data %}success{% endif %}">
            {% for field in f %}
                <td>{{ field }}</td>
            {% endfor %}
            {% for field in f.visible_fields %}
                {% if field.errors %}
                <td>{{ field.label }}: {{ field.errors|join:", " }}</td>
                {% endif %}
            {% endfor %}
            <td>
            {% if view.confirm and f.email.data %}
            {% if not f.exists.data  %}
                <span class="label label-success">New</span>
            {% else %}
                <span class="label label-info">Exists</span>
            {% endif %}
            {% endif %}
            </td>
            </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
        <tfoot>
        {% if not view.confirm %}
        <tr class="text-center"><td colspan="4"><button class="btn btn-default" id="btn-formset-add-row"><span class="glyphicon glyphicon-plus"></span> Add row</button></td></tr>
        {% endif %}
        </tfoot>
    </table>
    <div class="pull-right small">
    <dl class="dl-horizontal">
        {% if not view.confirm %}
        <dt></dt><dd>Tip: try pasting an Excel table into this form.</dd>
        {% else %}
        <dt><span class="label label-success">New</span></dt><dd>A new account with this e-mail address will be created, and the user will be invited to AmCAT and to this project.</dd>
        <dt><span class="label label-info">Exists</span></dt><dd>A user with this e-mail address already exists and will be added to the project.</dd>
        {% endif %}
    </dl>
    </div>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{% if view.confirm %}Confirm invitations{% else %}Invite{% endif %}">
        <a href="{% url "navigator:project" project.id %}" class="btn">Cancel</a>
   </div>

<p>
</p>
</form>
<script>
    {% if view.confirm %}
        const confirmView = true;
    {% else %}
        const confirmView = false;
    {% endif %}

require(["amcat/formsetutils"], (formsetUtils)=>{
    const table = $("#formset-table");
    const form = table.closest("form");
    formsetUtils.bindTablePasteEvent(table);
    $("#btn-formset-add-row").on("click", e=>{e.preventDefault(); formsetUtils.expandTable($('#formset-table'))});

    if(confirmView) {
        return;
    }

    // restore form content on back button.
    form.on("submit", e =>{
        let formData = new FormData(form[0]);
        history.replaceState({'formData': {[form.selector]: Array.from(formData)}}, "");
    });
    if(history.state !== null){
        let formMap = new Map(history.state.formData[form.selector]);
        if(formMap.size > 0){
            let size = formMap.get("form-TOTAL_FORMS") | 0;
            formsetUtils.expandTable(table, size);
            for(let kv of formMap){
                form[0][kv[0]].value = kv[1];
            }
        }
        let state = history.state;
        delete state.formData[form.selector];
        history.replaceState(state, "import");
    }
});
</script>
{% endblock %}
