{% extends "project/base.html" %}

{% block title %}Users{% endblock %}

{% block actions %}
{% if is_admin %}

 <h2>Add, remove, or modify users:</h2>
 {% if view.request.user.is_staff %}
     <p>
     <a class="btn btn-warning" href="{% url "navigator:user-invite" project.id %}">Invite new users by email</a>
     </p>
 {% endif %}
 <form action="{% url "navigator:user-add" project.id %}" id="users-form" method="POST">
     {% csrf_token %}
  {{ add_user }}
  <input class="btn btn-primary" type="submit" value="Modify User(s)" />
 </form>
 <script>
 require(["jquery", "bootstrap-multiselect"], function($){
     $('#users-form').find('.multiselect').multiselect({"enableFiltering": true});
 });
 </script>
{% endif %}
{% endblock %}

{% block content %}
{{ table|safe }}

{% endblock %}
