body{
    margin-top:100px;
    font-size:0.9em;
}

#container{
    top:100px;
    width:500px;
    margin:auto;
    padding:10px;
    text-align: center;
    border-radius: 3px;
}

#logo{
    background-image: url("/media/img/amcat/amcat-logo.png");
    background-position:50% 50%;
    background-repeat: no-repeat;
    height:50px;
}

input{
    width:300px;
}

#inputs{
    text-align: center;
}

.error{
    color:red;
}
