/*
###########################################################################
#          (C) Vrije Universiteit, Amsterdam (the Netherlands)            #
#                                                                         #
# This file is part of AmCAT - The Amsterdam Content Analysis Toolkit     #
#                                                                         #
# AmCAT is free software: you can redistribute it and/or modify it under  #
# the terms of the GNU Affero General Public License as published by the  #
# Free Software Foundation, either version 3 of the License, or (at your  #
# option) any later version.                                              #
#                                                                         #
# AmCAT is distributed in the hope that it will be useful, but WITHOUT    #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or   #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public     #
# License for more details.                                               #
#                                                                         #
# You should have received a copy of the GNU Affero General Public        #
# License along with AmCAT.  If not, see <http://www.gnu.org/licenses/>.  #
###########################################################################
*/

.ui-buttonset .ui-state-active{
    font-weight:bold;
}

.ui-widget{
    font-size:12px;
}

.ui-multiselect-checkboxes{
    overflow-y:auto;
    max-height:300px;
}

.article-meta{
    color:gray;
}

.action-buttons{
    float:right;
}

ul em{
    color:red;
}

.article-headline{
    margin-bottom:3px;
    margin-top:15px;
}

.output-result{
    clear:both;
}

.hit-count{
    font-weight:normal;
}

#query-form textarea{
    width:90%;
}

.jqplot-highlighter-tooltip {
    background-color: white !important;
    border: 1px solid gray !important;
    padding:3px !important;
}

#help-link{
    float:right; margin-right:70px;
}

.form-table{
    width:100%;
    border:1px solid grey;
}

#select-result{
    clear:both;
    margin-top:5px;
}

.more-articlelist-results{
    border: 2px solid #205CA7;
    padding:5px;
    cursor:pointer;
    margin-top:30px;
}

#tabs .ui-widget-header{
    background:none;
    border-bottom: 1px solid gray;
}

#tabs{
    margin:15px;
}

#query-time{
    color:gray;
}

.output-options-td{
    display: block;
    min-height: 70px;
}

#selection{
    font-size:12px;
}

.code{
    font-family: "Courier New", Courier, monospace
}
