<div class="article-headline">
    {% if a.totalHits %}
        <span class="hit-count">{{a.totalHits}} hits - </span>
    {% endif %}
    <a href="{% url "navigator:project-article-details" project.id a.id %}" target="_blank">
        {% if a.highlight.headline %}
            {{ a.highlight.headline|first|safe|default:"[No headline]"}}
        {% else %}
            {{ a.headline|default:"[No headline]"}}
        {% endif %}
    </a>
</div>

<div class="article-meta">
    {{ a.date|date:"d-m-Y" }} |
    {{ a.length }} words |
    {{ a.medium }}
    {% if a.section %} | {{ a.section }} {% endif %}
    {% if a.author %} | Author: {{ a.author }} {% endif %}
</div>

<div class="article-snippet">
    {% if a.highlight.text %}
        … {% for t in a.highlight.text %}
        {{ t|safe}} …
    {% endfor %}
    {% else %}
        {{ a.lead }}
    {% endif %}
</div>
