<div class="article-title">
    {% if a.totalHits %}
        <span class="hit-count">{{a.totalHits}} hits - </span>
    {% endif %}
    <a href="{% url "navigator:project-article-details" project.id a.id %}" target="_blank">
        {{ a.title|default:"[No title]"|safe }}
    </a>
</div>

<div class="article-meta">
    {{ a.date|date:"d-m-Y" }} |
    {% if a.section %} | {{ a.section }} {% endif %}
    {% if a.author %} | Author: {{ a.author }} {% endif %}
</div>

<div class="article-snippet">
    {{ a.text|safe }}
</div>
