{% load jsonify %}

<script type="text/javascript">
    $(function(){
        var form_data;
        require(["query/utils/serialize"], function(serialize){
            var form = $("#query-form");
            var jobs = form.data("jobs");
            var sets = form.data("sets");
            form_data = serialize(form, jobs, sets);
            console.log(form_data);
            form_data["interval"] = "day";
        });
        $('#medium-aggregation').highcharts({
            chart: { zoomType: 'x', type: 'bar' },
            title: { text: 'Articles aggregated per medium per {{ interval }}.' },
            xAxis: { type: "category" },
            yAxis: {
                title: { text: 'Number of articles' },
                floor: 0
            },
            legend: {
                enabled: false
            },
            series: [
                    {
                        data: [
                            {% for medium, count in medium_aggr %}
                                ["{{ medium.name }}", {{ count }}],
                            {% endfor %}
                        ]
                    }
            ],
            plotOptions: {
                column: {
                    stacking: 'normal'
                },
                series: {
                    events: {
                        click: function(event){
                            articles_popup = require("query/utils/articlemodal");
                            var filters = {};
                            filters["medium"] = event.point.series.options.obj;
                            filters["date"] = event.point.x;
                            articles_popup().show(form_data, filters);
                        }
                    }
                },

            }
        });
    });
</script>