{% load jsonify %}

<script type="text/javascript">
  $(function () {
    series = [];

    $('#medium-aggregation').highcharts({
      chart: { zoomType: 'x', type: 'column' },
      title: { text: 'Articles aggregated per medium per day.' },
      xAxis: { type: 'datetime' },
      yAxis: {
        title: { text: 'Number of articles' },
        floor: 0
      },
      plotOptions: {
        column: {
          stacking: 'normal'
        }
      },
      series: [
        {% for medium, data in medium_aggr %}
          {
            type: 'column',
            name: '{{ medium.name }}',
            data: [
              {% for date, count in data %}
                [Date.UTC({{ date.year }}, {{ date.month }}, {{ date.day }}), {{ count }}],
              {% endfor %}
            ]
          },
        {% endfor %}
      ]
    });
  });
</script>