<script type="text/javascript">
    $(function(){
        var form_data;
        require(["query/utils/serialize", "highcharts.core"], function(serialize, Highcharts){
            var form = $("#query-form");
            var jobs = form.data("jobs");
            var sets = form.data("sets");
            form_data = serialize(form, jobs, sets);
            console.log(form_data);
            form_data["interval"] = "{{ interval }}";





        $('#date-aggregation').highcharts({
            chart: { zoomType: 'x'},
            title: { text: 'Number of articles per {{ interval }}.' },
            xAxis: { type: 'datetime' },
            yAxis: {
                title: { text: 'Number of articles' },
                floor: 0
            },
            legend: { enabled: false },
            series: [{
                type: 'area',
                name: 'Articles',
                data: [
                    {% for date, count in date_aggr %}
                        [Date.UTC({{ date.year }}, {{ date.month }} -1, {{ date.day }}), {{ count }}],
                    {% endfor %}
                ]
            }],
            plotOptions: {
                series: {
                    events: {
                        click: function(event){
                            articles_popup = require("query/utils/articlemodal");

                            var filters = {};
                            filters["date"] = event.point.x;
                            articles_popup().show(form_data, filters);
                        }
                    }
                },
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            }

        });
        });

    });
</script>
