{% if not articles %}
    <div class="alert alert-warning" role="alert">
        No articles found.
    </div>
{% else %}
    <h2>Found {{ narticles }} articles in {{ timer.interval|floatformat:3 }} seconds.</h2>

    <div data-form="{{ form_data }}" class="row summary">
        <div class="col-md-6">
            <ul class="articles">
                {% for a in articles %}
                    <li>{% include "query/summary/summary_article.html" %}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            {% if show_aggregation %}
                <div id="date-aggregation">
                    {% include "query/summary/summary_count_chart.html" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}

<center>
    {% include "query/summary/loading.html" %}
</center>

