{% extends "navigator/base.html" %}
{% block content %}

<div class="login_head">
{% if error %}
<div class="alert alert-error">
    <p style="margin-bottom:0px;">Could not log you in. Did you forget your username or password? Use <a href="{% url "accounts-recover" %}">this</a> form to reset them.</div>
{% else %}
{% endif %}
<div class="alert alert-info">{{ announcement|safe }}</div>

</div>
<div class="jumbotron">

<div class="login_columns">
<div class="login_help">
<h1>Welcome to AmCAT3</h1>
<p>Please log in or create a new account
  below. See <a href="http://amcat.vu.nl/news">our wordpress site</a>
  for more information.</p>
</div>
<div class="login_buttons">
<p>
 <form method="POST" class="well form-inline" action = "">
     <input {% if username %}value="{{username}}"{% endif %} name="username" type="text" class="input-small" placeholder="Username" />
  <input name="password" type="password" class="input-small" placeholder="Password" />
  <button type="submit" class="btn">Sign in</button>

or <form method="POST" class="well form-inline">
    <a href="{% url "accounts-register" %}" class="btn
    btn-primary">Create a new Account</a>
 </form>

  <p>
    <small>If you forgot your username or password use 
           <a href="{% url "accounts-recover" %}">this</a> form.
    </small>
  </p>
 </form>
</p>


<p>
<legend>Or sign up:</legend>

</p>
</div>
</div>

{% endblock %}
