{% extends "accounts/base.html" %}
{% block content %}
{% if error %}
<div class="alert alert-error">
    <p style="margin-bottom:0px;">Could not log you in. Did you forget your username or password? Use <a href="{% url accounts-recover %}">this</a> form to reset them.</div>
{% else %}
 <p>Welcome to the AmCAT Navigator! Supply your credentials below to gain access.</p>
{% endif %}

<p>
 <form method="POST" class="well form-inline" action = "{% url accounts-login %}">
     <input {% if username %}value="{{username}}"{% endif %} name="username" type="text" class="input-small" placeholder="Username" />
  <input name="password" type="password" class="input-small" placeholder="Password" />
  <button type="submit" class="btn">Sign in</button>
  <p>
    <small>If you forgot your username or password use 
           <a href="{% url accounts-recover %}">this</a> form.
    </small>
  </p>
 </form>
</p>


<p>
Or create a new account:

<form method="POST" class="well form-inline">
    <a href="{% url accounts-register %}" class="btn btn-primary">Register</a>
 </form>
</p>
{% endblock %}
