{% extends "navigator/base.html" %}

{% block css %}
<style>
textarea {width:16em}
input {width:6em}
td.Order input {width:2em}
textarea, input[type="text"] {font-size: 8pt; margin:1px}
th {background-color:#60a3ff; color:white;}
tr.odd {background-color: #e9e9e9}

</style>

{% endblock %}

{% block content %}

<div style="float:left; width:65%">
 <h1>Ruleset {{ruleset.id}} : {{ruleset}}</h1>
</div>
<form method="post" action="">
<br/>
<input type="submit">
<table>
{{ruleset_form}}
</table>
<br/>
{{ formset.management_form }}
<table>
<tr>
{% for field in formset.0.visible_fields %}
<th>{{ field.label }}</th>
{% endfor %}
</tr>
{% for form in formset %}
<tr class="{% cycle 'odd' 'even' %}">
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
{% for field in form.visible_fields %}
<td class="{{field.label}}">{{ field.errors }} {{ field }}</td>
{% endfor %}
  {% for hidden in form.hidden_fields %}
  {% if hidden.errors %}
     <td>{{hidden.label}}:{{ hidden.errors }}</td>
  {% endif %}
  {% endfor %}

</tr>
{% endfor %}
</table>
<input type="submit">
</form>
{% endblock %}
