<!DOCTYPE html>
<html>
 <head>
  <title>{% block title %}AmCAT Annotator 3{% endblock %}</title>
  
  <link rel="shortcut icon" href="{{ MEDIA_URL }}img/amcat/favicon.png">
  
  <!--  CSS -->
  <link href="{{ MEDIA_URL }}css/base.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="{{ MEDIA_URL }}css/datatables.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="{{ MEDIA_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="{{ MEDIA_URL }}css/jquery.multiselect.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="{{ MEDIA_URL }}css/jquery.multiselect.filter.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="{{ MEDIA_URL }}css/annotator.css" rel="stylesheet" type="text/css" media="screen" />
  {% block css %}{% endblock %}
  
  <!--  Javascript -->
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.plugins.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/amcat.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.multiselect.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.multiselect.filter.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/annotator/jquery.scrollTo-1.4.2-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/annotator/jquery.hotkeys.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easyMark.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/annotator/annotator.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/annotator/annotator.unitcodings.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/annotator/annotator.articletable.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/annotator/annotator.fields.js"></script>
  {% block javascript %}{% endblock %}
 </head>
 <body>
  <div id="header">
   <div>
    <div id="logo-wrapper">
     <div id="logo-headline">AmCAT Annotator 3</div>
     <div id="logo-byline">beta</div>
    </div>
   </div>
  </div>
    <div id="message-wrap">
     {% block message %}{% endblock %}
    </div>
   <div id="content">
    {% block content %}<p>Not yet implemented.</p>{% endblock %}
   </div>
 </body>
</html>
