{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Annotator{% endblock %}

{% block css %}
      <link href="{% static 'css/annotator.css' %}" rel="stylesheet" type="text/css" media="screen" />
      <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contextmenu %}
            <li><a data-toggle="modal" data-target="#help-dialog" href="#">Help</a></li>
            <li><a href="#">Selected words: <span id="wordcount">0</span></a> </li>
{% endblock %}

{% block outer %}

      <div class="row">
        <div class="col-sm-3 col-sm-offset-9 col-md-3 sidebar">
            <article>{% block article %}No article loaded yet.{% endblock %}</article>
        </div>
        <div id="content" class="col-sm-9 col-md-9 main annotator">
          {% block content %}{% endblock %}
        </div>
      </div>

      {% include "annotator/help.html" %}

{% endblock outer %}
