{% extends "annotator/base.html" %}

{% block content %}
  
  <div id="messages">
   <noscript>
    <div>
     <h2>Your browser does not seem to have JavaScript enabled. Please enable it.</h2>
    </div>
   </noscript>
  </div>

  
 <!--[if lt IE 9]>
<div class="error">Internet Explorer versions 6, 7 and 8 are not officially supported. Please use Internet Explorer 9, Firefox or Google Chrome.</div>
<![endif]-->

  <div class="annotator-content">
    
    <article>
       <div class="sentence-options">
            <button class="select-all-sentences-button" title="Select all sentences">Select</button>
            <span>Selected words: <span id="wordcount">0</span></span>
       </div>
       <div class="sentences">
           <h2>Article Text</h2>
           <p>No article selected yet</p>
       </div>
    </article>
    
    <div class="articlelist-part">
        <div class="links">
            <a href="{% url "codingjobs" %}">&laquo; Back to Overview</a> | 
            <a href="javascript:;" id="help-button">Help</a>
        </div>
        <h2>Articles in codingjob {{codingjob.id}} - {{codingjob.name}}</h2>
        <div class="article-list-toolbar">
            <button id="next-article-button" title="Go to the next article in the list">Next</button>
            <button id="previous-article-button" title="Go to the previous article in the list">Previous</button>
        </div>
        <div id="article-table-container">
        
        </div>
        <script type="text/javascript">
        $(document).ready(function(){
            var jqueryElement = $('#article-table-container');
            var url = "{% url "codedarticle-list" project.id codingjob.id %}";
            var columns = [], column_order = [
                "id", "article_id", "headline", "date", "pagenr",
                "length", "status", "comments"
            ];

            $.each(column_order, function(i, colname){
                columns.push({ mData : colname, aTargets : [colname]});
            });

            amcat.datatables.create_rest_table(jqueryElement, url, {
                datatables_options: {
                    aaSorting: [[0, "asc"]],
                    iDisplayLength: 100000,
                    aoColumns: columns,

                    fnDrawCallback: function(){
                        $("tr", $("#article-table-container")).click(function(event){
                            annotator.datatables_row_clicked($(event.currentTarget));
                        }).css("cursor", "pointer");
                    }
                },
                setup_callback: function(tbl){
                    console.log("Done setting up datatable..");
                    annotator.datatable = tbl;
                }
            });
        });
        </script>
    </div>
    
    <div class="coding-part" style="display:none">
         <div class="unit-codings-toolbar">
            <button id="irrelevant-button" title="Mark this article as irrelevant and continue to the next article">Irrelevant &amp; continue</button>
            <button id="save-continue-button" title="Mark this article as finished and continue to the next article">Finish &amp; continue</button>
            <button id="save-button" title="Save the codings for this article">Save</button>
         </div>
         
        
        <div id="article-comment-form">
            <label for="article-comment">Comments:</label> <textarea cols="40" id="article-comment" name="comment" rows="4"></textarea>
            <label for="article-status">Article Status:</label><select id="article-status" name="status" ></select>
        </div>
        
         <div id="article-coding">
            <h3>Article Codings</h3>
            <form id="article-coding-form">
            
            </form>
         </div>
         
         <div id="unitcoding-table-part">
            <div id="unitcoding-table-top">
                <h3>Sentence Codings</h3>
            </div>
            <div>
                <table cellpadding="0" cellspacing="0" border="0" class="display" id="unitcoding-table"></table>
            </div>
         </div>
    </div>
    
  </div>
  
  
<div id="autocomplete-details" class="ui-corner-all">
</div>

<div id="article-dialog-form" style="display:none">
	<div id="article-edit-form"></div>
	<div id="article-edit-status"></div>
</div>

<div id="new-sentence-dialog-form" title="Add new Sentence" style="display:none">
	<div id="new-sentence-nr-placeholder">
    </div>
    <input type="text" id="new-sentence-text" />
	<div id="new-sentence-status"></div>
</div>

<div id="message-dialog" title="Message" style="display:none">
	<div id="message-dialog-msg"></div>
</div>
  
<div id="dialog-confirm-delete-row" title="Delete this row" style="display:none">
	<p>Are you sure you would like to delete this row?</p>
    <p id="confirm-delete-row-content"></p>
</div>

<div id="dialog-save" title="Saving" style="display:none">
    <div id="dialog-save-msg"></div>
</div>

<div id="dialog-help" title="Help" style="display:none">
    <h4>Keyboard shortcuts</h4>
    <table>
        <tr><th>Key</th><th>Explanation</th></tr>
        <tr><td>CTRL + S</td><td>Save</td></tr>
        <tr><td>CTRL + D</td><td>Set to complete, save and continue</td></tr>
        <tr><td>CTRL + I</td><td>Set to irrelevant, save and continue.</td></tr>
        <tr><td>ESCAPE</td><td>Close a dialog</td></tr>
        <tr><td>CTRL + ↓</td><td>Add new row in sentence codings table, copying current sentence.</td></tr>
        <tr><td>CTRL + SHIFT + ↓</td><td>Add new row in sentence codings table, increase sentencenr by one.</td></tr>
        <tr><td>SHIFT + ↓</td><td>Copy current row.</td></tr>
        <tr><td>CTRL + SHIFT + d</td><td>Remove row in sentence codings table</td></tr>
    </table>
    <br>
    <h4>Supported Browsers</h4>
    <p>AmCAT Annotator is tested with the latest versions of Mozilla Firefox, Google Chrome and Internet Explorer.<br />
    Internet Explorer 6, 7, 8 are not recommended.</p>
</div>


 
<script type="text/javascript"> 
    $(document).ready(function(){
        annotator.initialise({{ project.id }}, {{ codingjob.id }}, {{ coder.id }});
    });
</script>

 </body>
</html>

{% endblock %}
