{% extends "annotator/base.html" %}

{% block help_context %}Annotator Codingjob{% endblock %}

{% block article %}
    <div class="sentences">
        <p>No article selected yet</p>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="articlelist-part">
            <div id="article-table-container"></div>
        </div>
    </div>

    <div class="alert alert-warning row" id="lost-codes">
        <p><b>Warning</b></p>
        <p>Some of the codes used in this coded article were not present in the used codebooks, which might
            result in lost data. This warning typically is the result of moving a code in a codebook, deleting
            a code from a codebook or changing the type of a codingschemafield. The warning was triggered by
            the following codingschemafields:</p>
        <p>
        <ul class="triggered-by"></ul>

    </div>

    <div class="row" id="editor" style="display:none">
        {% include "annotator/mark_buttons.html" %}

        <!-- Fix float:right of .mark -->
        <div class="clearfix"></div>

        <div class="coded-article part" id="coded-article">
            <select class="form-control" id="article-status" name="status" ></select><br/>
            <textarea class="form-control" placeholder="Comments" cols="40" id="article-comment" name="comment" rows="4"></textarea>
        </div>

        <div class="article-coding part" id="article-coding">
            <form id="article-coding-form">

            </form>
        </div>

        {% include "annotator/mark_buttons.html" with style="margin-bottom:15px;" %}

        <div class="sentence-codings part" id="unitcoding-table-part">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="unitcoding-table"></table>
        </div>

        {% include "annotator/mark_buttons.html" %}
    </div>

    <div id="autocomplete-details" class="ui-corner-all">
    </div>

    <div id="loading" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Loading..</h4>
                </div>
                <div class="modal-body">
                    <p>Loading..</p>
                </div>
            </div>
        </div>
    </div>

    <div id="unsaved-changes" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Unsaved changes</h4>
                </div>
                <div class="modal-body">
                    <p>There are unsaved changes pending. Please choose one of the following options:</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-warning discard">Discard</button>
                    <button type="button" class="btn btn-primary save"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="message" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        require(["annotator/annotator"], function(annotator){
            annotator.initialise({{ project.id }}, {{ codingjob.id }}, {{ coder.id }});
        });
    </script>

    <script type="text/javascript">
        require(["jquery", "annotator/annotator", "amcat/amcat.datatables"], function($, annotator){
            var jqueryElement = $('#article-table-container');
            var url = "{% url "api:project-codingjob-coded_article-list" project.id codingjob.id %}";
            var columns = [], column_order = [
                "id", "article_id", "title", "medium", "date", "pagenr",
                "length", "status", "comments"
            ];

            var sortable = [
                "id", "title", "comments", "article_id", "medium", "date",
                "pagenr", "length", "status"
            ];

            $.each(column_order, function(i, colname){
                columns.push({
                    bSortable: sortable.indexOf(colname) !== -1,
                    mData : colname, aTargets : [colname]
                });
            });

            amcat.datatables.create_rest_table(jqueryElement, url, {
                datatables_options: {
                    aaSorting: [[0, "asc"]],
                    iDisplayLength: 100000,
                    aoColumns: columns,
                    sScrollY: "100px",
                    searching: false,

                    fnDrawCallback: function(){
                        $("tr", $("#article-table-container")).click(function(event){
                            annotator.datatables_row_clicked($(event.currentTarget));
                        }).css("cursor", "pointer");
                    }
                },
                setup_callback: function(tbl){
                    console.log("Done setting up datatable..");
                    annotator.datatable = tbl;
                }
            });
        });
    </script>
{% endblock %}
