 <div class="modal fade" id="help-dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Keyboard shortcuts</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tr><th>Key</th><th>Explanation</th></tr>
                        <tr><td>CTRL + S</td><td>Save</td></tr>
                        <tr><td>CTRL + D</td><td>Set to complete, save and continue</td></tr>
                        <tr><td>CTRL + I</td><td>Set to irrelevant, save and continue.</td></tr>
                        <tr><td>ESCAPE</td><td>Close a dialog</td></tr>
                        <tr><td>CTRL + ↓</td><td>Add new row in sentence codings table, copying current sentence.</td></tr>
                        <tr><td>CTRL + SHIFT + ↓</td><td>Add new row in sentence codings table, increase sentencenr by one.</td></tr>
                        <tr><td>SHIFT + ↓</td><td>Copy current row.</td></tr>
                        <tr><td>CTRL + SHIFT + d</td><td>Remove row in sentence codings table</td></tr>
                    </table>
                    <br>
                    <h4>Supported Browsers</h4>
                    <p>AmCAT Annotator is tested with the latest versions of Mozilla Firefox, Google Chrome and Internet Explorer.
                        Internet Explorer 6 through 10 are not recommended.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
