<div class="col-md-12 mark" style="{{ style }}">
    <div class="btn-group">
        <button class="btn btn-default irrelevant-button" title="Mark this article as irrelevant and continue to the next article">Irrelevant &amp; continue</button>
        <button class="btn btn-default save-continue-button" title="Mark this article as finished and continue to the next article">Finish &amp; continue</button>
        <button class="btn btn-primary save-button" title="Save the codings for this article"><i class="glyphicon glyphicon-floppy-saved"></i> Save</button>
    </div>
</div>
