{% extends "annotator/base.html" %}

{% block css %}
{% endblock %}
{% block javascript %}    
{% endblock %}

{% block content %}

<div id="welcome">
    <h1>Welcome to AmCAT Annotator 3!</h1>
    <p>Below you will find the codingjobs assigned to you.</p>
</div>

<h1>Your Codingjobs</h1>   

<div id="codingjob-table-container">

</div>


<script type="text/javascript">
    $(document).ready(function(){
        var jqueryElement = $('#codingjob-table-container');
        var url = "{% url "annotator-overview-table" %}";
        var columns = [[null, 'id'], [null,'name'], [null,'coder'], [null,'insertuser'], [null,'insertdate'], [null,'article count'], [null,'articles complete']];
        var additionalServerData = {};
        var additionalDataTableOptions = {'rowlink':'{% url "annotator-codingjob" 123%}'.replace(/123/, '{0}'), "aaSorting": [[ 0, "desc" ]]}
        amcat.createTable(jqueryElement, url, columns, additionalServerData, additionalDataTableOptions);
    });
</script>


{% endblock %}
