[Unit]
Description=WSGI server for AmCAT

[Service]
Environment=AMCATROOT=/srv/amcat
Environment=AMCAT_DB_HOST=localhost
Environment=AMCAT_DB_USER=amcat
Environment=AMCAT_DB_NAME=amcat
Environment=AMCAT_DB_PASSWORD=

Environment=AMCAT_DEBUG=N
Environment=AMCAT_LOG_FILE=/var/log/amcat/django.log
Environment=UWSGI_LOGGER=file:/var/log/amcat/uwsgi.log
Environment=AMCAT_LOG_TO_CONSOLE=N

Environment=AMCAT_EMAIL_HOST=smtp.gmail.com
Environment=AMCAT_EMAIL_USER=amcat.vu@gmail.com
Environment=AMCAT_EMAIL_PASSWORD=
Environment=AMCAT_ALLOWED_HOSTS=localhost,.amcat.nl

Environment=AMCAT_SERVER_STATUS=production
Environment=AMCAT_ES_INDEX=amcat
Environment=AMCAT_CELERY_QUEUE=amcat
Environment=PYTHONPATH=/srv/amcat/amcat

Environment=UWSGI_MAX_REQUESTS=50
Environment=UWSGI_BUFFER_SIZE=65535

Environment=AMCAT_ES_HOST=localhost
Environment=AMCAT_ES_LEGACY_HASH=1

ExecStart=/usr/bin/uwsgi --ini /srv/amcat/amcat.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

