[Unit]
Description=Celery workers for AmCAT 

[Service]
Environment=AMCATROOT=/srv/amcat
Environment=AMCAT_DB_HOST=localhost
Environment=AMCAT_DB_USER=amcat
Environment=AMCAT_DB_NAME=amcat
Environment=AMCAT_DB_PASSWORD=

Environment=AMCAT_DEBUG=N
Environment=AMCAT_LOG_FILE=/var/log/amcat/celery.log
Environment=CELERYD_LOG_FILE=/var/log/amcat/celeryd.log
Environment=AMCAT_LOG_TO_CONSOLE=N

Environment=AMCAT_SERVER_STATUS=production
Environment=AMCAT_CELERY_QUEUE=amcat
Environment=PYTHONPATH=/srv/amcat/amcat

Environment=AMCAT_ES_HOST=localhost
Environment=AMCAT_ES_LEGACY_HASH=1

Environment=AMCAT_SETTINGS_MODULE=settings

ExecStart=/srv/amcat/env/bin/python -m amcat.manage celery worker -l INFO -n $AMCAT_CELERY_QUEUE.%h --concurrency=4 -Q $AMCAT_CELERY_QUEUE 
Type=simple
Restart=always
StandardError=journal
StandardOutput=journal

