
/* Move down content because we have a fixed navbar that is 50px tall */

body {
padding-top: 70px;
}


a .navbar-brand {
    background-image: url('/media/img/amcat/amcat-logo.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 45px;
    padding-top: 10px;
    height: 100%;
}

.navbar-brand h1 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-brand h2 {
    color: grey;
    font-size: 13px;
    text-align: right;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: -10px;
}

.panel-title {
font-size: 14px;
}
.query textarea {width: 100%}

.articlelist li {list-style-type: none;}

.failure-details {margin-top: 1em; font-decoration: italic; font-size:11px}

.btn-xxs {
  padding: 0px 3px;
  font-size: 10px;
  line-height: 1;
  border-radius: 2px;
}

article em {
    background-color: yellow; font-style:normal;
}

ul.articles li {margin-top: .5em; margin-bottom: .5em; list-style-type: none}
ul.articles {padding-left: 0px}
.article-meta {
    font-size:80%; color: grey;
}


.hbreak {border-bottom: 1px dotted #e2e2e2;}
.hbreak-before {border-top: 1px dotted #e2e2e2;}



