/*
###########################################################################
#          (C) Vrije Universiteit, Amsterdam (the Netherlands)            #
#                                                                         #
# This file is part of AmCAT - The Amsterdam Content Analysis Toolkit     #
#                                                                         #
# AmCAT is free software: you can redistribute it and/or modify it under  #
# the terms of the GNU Affero General Public License as published by the  #
# Free Software Foundation, either version 3 of the License, or (at your  #
# option) any later version.                                              #
#                                                                         #
# AmCAT is distributed in the hope that it will be useful, but WITHOUT    #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or   #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public     #
# License for more details.                                               #
#                                                                         #
# You should have received a copy of the GNU Affero General Public        #
# License along with AmCAT.  If not, see <http://www.gnu.org/licenses/>.  #
###########################################################################
*/

.article-coding td{
    padding-right: 5px;
}

.sentence-codings{
    line-height: normal;
}

body{
    overflow-x:hidden;
}

#content .row{
    margin-bottom:10px;
}

input.form-control{
    display:inline;
    width:auto;

}

.mark{
    margin:0 auto;
    text-align: center;
}


.highlight{
    background-color:yellow;
}

.sentences .active{
    background-color: #d9edf7;
}

.sentences h2{
    font-size:1.2em;
    margin: 5px;
}

.annotator-sentencenr{
    color:gray;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.article-list-toolbar{
    float:right;
}

.selected-sentence{
    background-color:blue;
    color:white;
}

#codingjob-list-table td{
    padding:5px 2px 5px;
}

.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    font-size:11px;
    max-width:300px;
}

.articlelist-part tbody tr.even:hover, #codingjob-list-table tbody tr.even:hover{
	background-color: #ECFFB3;
}

.articlelist-part tbody tr.odd:hover, #codingjob-list-table tbody tr.odd:hover{
	background-color: #E6FF99;
}

#autocomplete-details  ul{
    margin:5px;
}

#autocomplete-details h2{
    font-size:18px;
}

#autocomplete-details h2 .objid{
    color:gray;
}

#autocomplete-details h3{
    clear:both;
    font-size:13px;
    margin:10px 5px 0px;
    padding-top:15px;
}

#autocomplete-details{
    width:300px;
    position:absolute;
    
    display:none; 
    background:white;
    border:1px solid black;
    
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

#unitcoding-table-part h3{
    width: 200px;
    margin-bottom:5px;
    float:left;
    margin:0px;
}

#unitcoding-table.display tr.row_selected td {
	background-color: #9FAFD1;
}

.sentence-text-row td{
    font-size:12px;
    padding:5px !important;
    background:white;
    
}

.new-paragraph{
    margin-top:10px;
}

#unitcoding-table thead th{
    cursor:auto;
}

/* make sentences table look like a datatable, with colors etc. */
#unitcoding-table tbody tr:nth-child(odd){
    background-color: #E2E4FF;
}

#unitcoding-table tbody tr:nth-child(even){
    background-color: white;
}

input.error{
    border-color:red;
}

.part {
   position: relative;
   margin: 15px 5px;
   padding: 39px 19px 14px;
   *padding-top: 19px;
   background-color: #fff;
   border: 1px solid #ddd;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}

.part::after
{
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.coded-article::after{
    content: "Coded article";
}

.article-coding::after{
    content: "Article coding";
}

.sentence-codings{
    overflow-x:auto;
}

.sentence-codings::after{
    content: "Sentence codings";
}

.article-coding input{
    width:100%;
}

.article-coding .row{
    margin-bottom: 0px !important;
}

.navbar-inverse{
    background-color: #F8F8F8;
    border-color: #E7E7E7;
    color:#777;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover{
    color:black;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a{
    color:#333;
}

input.sentence{
    width:75px;
}
