/*
###########################################################################
#          (C) Vrije Universiteit, Amsterdam (the Netherlands)            #
#                                                                         #
# This file is part of AmCAT - The Amsterdam Content Analysis Toolkit     #
#                                                                         #
# AmCAT is free software: you can redistribute it and/or modify it under  #
# the terms of the GNU Affero General Public License as published by the  #
# Free Software Foundation, either version 3 of the License, or (at your  #
# option) any later version.                                              #
#                                                                         #
# AmCAT is distributed in the hope that it will be useful, but WITHOUT    #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or   #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public     #
# License for more details.                                               #
#                                                                         #
# You should have received a copy of the GNU Affero General Public        #
# License along with AmCAT.  If not, see <http://www.gnu.org/licenses/>.  #
###########################################################################
*/

textarea{
    max-width: 100%;
    min-width: 100%;
    width:100%;
    height:100%;
}

.filters-tab > input{
    max-width: 100%;
    min-width: 100%;
    width:100%;
}

select.wide,
.panel,
.mediums select{
    width:100%;
}

form > .row{
    margin-bottom: -5px;
}

textarea[name=article_ids]{
    height:125px;
}

.formatting-help{
    font-size:0.9em;
    color:grey;
}

.query{
    padding-right: 0;
}

.query-tab, .output-options{
    padding-left:0px;
}

.syntax-help,
.codebook-options{
    cursor:pointer;
}

.syntax-help{
    font-size:0.9em;
    float:right;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.codebook-options select{
    width:calc(33% - 9px);
}

[name=on_date]{
    text-align: center;
}

.query-submit .btn-group{
    float:right;
    margin-right: 15px;
    margin-bottom: 15px;
}

svg > text:last-child{
    display:none;
}

table.aggregation td:hover{
    cursor: pointer;
    background-color: #d3d3d3;
}

input.error,
select.error,
textarea.error,
#id_filters.error + #filter-inputs select{
    border-color: red;
}

map area:hover{
    cursor:pointer;
}

textarea.query {
  height: 15em;
}

#dates > div {
    width:100%;
}

#query-options .multiselect-container input[type=radio]{
    visibility: hidden;
}

h4.name:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}

#result tbody tr > th{
    white-space: nowrap;
}

#result table.aggregation th{
    padding:0;
}

#codingjobs-keywordsearch{
    margin-top:5px;
}

#saved-queries .DTTT.btn-group{
    display:none!important;
}
#active-articlesets .DTTT.btn-group .btn:last-child, #codingjobjobs .DTTT.btn-group .btn:last-child{
    display: none!important;
}
#active-articlesets .DTTT.btn-group, #codingjobjobs .DTTT.btn-group{
    margin-top: -40px;
}

.filter-remove{
    display: inline-block;
    width: 0;
    float: left;
    padding: 6px 0 6px 0;
    margin-left: -1.5em;
    cursor: pointer;
}

.form-inline .form-control.filters-field{
    width: 40%;
    border-radius: 4px 0 0 4px;
}
.form-inline .form-control.filters-value + .btn-group > .multiselect{
    border-radius: 0 4px 4px 0;
    border-left: none;
}