.table-download{
    text-align: right;
}

.dataTables_info, .table-download{
    color:rgb(128, 128, 128);
    font-size:12px;
}

.dataTables_wrapper{
    font-size:12px;

}

table.dataTable thead, table.dataTable tfoot {
	background-color:#60a3ff;
	color:white;
}

table.dataTable tr.odd.gradeA {
	background-color: #ddffdd;
}

table.dataTable tr.even.gradeA {
	background-color: #eeffee;
}

table.dataTable tr.odd.gradeC {
	background-color: #ddddff;
}

table.dataTable tr.even.gradeC {
	background-color: #eeeeff;
}

table.dataTable tr.odd.gradeX {
	background-color: #ffdddd;
}

table.dataTable tr.even.gradeX {
	background-color: #ffeeee;
}

table.dataTable tr.odd.gradeU {
	background-color: #ddd;
}

table.dataTable tr.even.gradeU {
	background-color: #eee;
}

table.dataTable tr.odd { background-color: #e9e9e9; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #e0e0e0; }
table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF; }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }
table.dataTable tr.even td.sorting_1 { background-color: #efefef; }
table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF; }
table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }

table.dataTable thead th,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table{
    border-bottom: none;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom-width: 1px;
    border-bottom-color: #d3d3d3;
}

table.display tr.even.row_selected td,
table.display tr.even.active td
{
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td,
table.display tr.odd.active td{
	background-color: #9FAFD1;
}


table.display tbody tr:hover,
table.display tbody tr td.highlighted {
    background-color: #bbd8ff;
}

table.dataTable tbody td,
table.dataTable thead th{
    padding-top:2px;
    padding-bottom:2px;

}

table tr{
    max-height:1em;
}

table td{
    /* Hidden overflows on tds result in hidden multiselect boxes.

    overflow:hidden; */
    white-space: nowrap;
}

.pagination{
    margin-top:10px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: none;
    border-color:transparent;

}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding:0;
    margin:0;
}

.DTTT_dropdown a{
    cursor: pointer;
}

.pagination > li > a{
    margin-left:-3px;
}


tr.active{
    background-color: red;
}

.DTTT{
    float:right;
    margin-bottom:5px;
}

.row-checkbox{
    margin: 0px 5px 0px 0px !important;
}

.dataTables_filter, .actions > .btn-group, .actions > div{
    padding-right: 5px;
}

.actions .dropdown-menu{
    left:inherit;
    top:inherit;
}

.actions form{
    display: inline-block;
}