/* Credits to: http://odyniec.net/articles/turning-lists-into-trees/ */
ul.tree, ul.tree ul{
    list-style-type: none;
}

ul.tree, ul.tree ul{
    list-style-type: none;
    background: url('../img/vline.png') repeat-y;
    margin: 0; padding: 0;
}

ul.tree ul{
    margin-left: 10px;
}

ul.tree li{
    margin: 0;
    padding: 0 12px;
    background: url('../img/node.png') no-repeat;
}

ul.tree em{
    font-weight: bold;
    font-style: normal;
}

ul.tree li:last-child{
    background: #fff url('../img/lastnode.png') no-repeat;
}
