<html>
  <head></head>
  <body>
    <p>Hi {{first_name}} {{last_name}},</p>
    <p>Thanks for your interest in using AmCAT. We've created a new
    account for you on our server:</p>
<table>
<tr>
<th>Username</th><td>{{username}}</td></tr>
<th>Password</th><td>{{password}}</td></tr>
</tr>
</table>

<!--<p>You can access the server <a href="http://amcat-dev.labs.vu.nl/">here</a>. -->
Please
change your password as soon as possible.</p>

<p><b>Caution: AmCAT3 is currently in alpha-testing stage.</b> Please make
  sure that you do not rely solely on AmCAT for storing your data or
  for meeting critical deadlines. Please report any bugs or other
  issues on
  our <a href="http://code.google.com/p/amcat/issues/entry">issue tracker</a>.</p>

<p>We are working on creating user documentation for AmCAT3. The
  current (very early) draft of this documentation is
  available <a href="http://amcat.vu.nl/plain/manual.pdf">here</a>. This
  will be updated as we work on the documentation. Consider subscribing to
  our <a href="http://groups.google.com/group/amcat-user">user mailing
  list</a>. This list will be used for announcements from us on new
  versions or downtime, and you can also use this list for asking user
  questions.</p>

<p>AmCAT is open source and all contributions are welcome! The full source code can be downloaded from
  our <a href="http://code.google.com/p/amcat/">google projects
  page</a>. This page also contains a developer wiki with installation
  instructions. Feel free to ask any
  development related questions on our <a href="http://groups.google.com/group/amcat-dev">developer mailing
  list</a>.
    <p>Good luck and kind regards,<br/>
    The AmCAT team</p>
  </body>
 
</html>
