{% load menu %}
{% load misc %}
{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>AmCAT Navigator 3 - {% block title %}Beta{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ MEDIA_URL  }}img/amcat/favicon.png">

    <!--  CSS -->
    {% compress css %}
        <!-- Bower dependencies -->
        <link href="{% static 'components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static 'components/datatables/media/css/jquery.dataTables.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static 'components/pnotify/pnotify.core.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static 'components/datatables/extensions/TableTools/css/dataTables.tableTools.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css"  />

        <!-- AmCAT code -->
        <link href="{% static 'css/forms.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static 'css/tabs.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static 'css/jquery.multiselect.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static 'css/jquery.multiselect.filter.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static 'css/amcat.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static 'css/tables.css' %}" rel="stylesheet" type="text/css"  />
    {% endcompress %}
    {% if theme %}
      <link href="{% static 'css/theme_' %}{{theme}}.css" rel="stylesheet" type="text/css"  />
    {% endif %}
    {% block css %}{% endblock %}

    <!--  Javascript -->
    {% compress js %}
        <script type="text/javascript" src="{% static 'components/jquery/dist/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/jquery-ui/ui/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/bootstrap/dist/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/datatables/media/js/jquery.dataTables.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/datatables/extensions/TableTools/js/dataTables.tableTools.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/bootstrap/js/scrollspy.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/pnotify/pnotify.core.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/pnotify/pnotify.nonblock.js' %}"></script>

        <!-- AmCAT code -->
        <script type="text/javascript" src="{% static 'js/jquery.multiselect.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.multiselect.filter.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.dataTables.plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/amcat.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/amcat.datatables.js' %}"></script>
    {% endcompress %}
    {% block javascript %}{% endblock %}

  </head>
  <body>
    <!-- navbar -->
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container{% if annotator or request.user.userprofile.fluid %}-fluid{% endif %}">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
	    {% include "main_menu.html" %}
          </ul>
          <ul class="nav navbar-nav">
	    {% block contextmenu %}
	    {% endblock %}
          </ul>
	  <a href="{% url 'index' %}">
            <div class="nav navbar-brand navbar-right">
	      <h1>AmCAT Navigator</h1>
	      <h2>3.3.2-rc1</h2>
	    </div>
	  </a>
	</div>
      </div>
    </header>

    {% block outer %}

    <!-- main contents -->
    <div id="content" class="container{% if annotator or request.user.userprofile.fluid %}-fluid{% endif %}">


      {% if breadcrumbs %}
      <ol class="breadcrumb">
	{% for name, url in breadcrumbs %}
	{% if forloop.last %}
	<li><b>{{ name }}</b></li>
	{% else %}
	<li><a href="{{ url }}">{{ name }}</a></li>
	{% endif %}
	{% endfor %}
      </ol>
      {% endif %}
      <div id="notifications">
	{% block notification %}
	{% if notification %}
	<div class="alert alert-success">
	  {{ notification }}
	</div>
	{% endif %}
	{% endblock %}
      </div>

      <div class="btn-group" style="margin-bottom: 1em">
	{% block actions %}{% endblock %}
      </div>

      <div style="margin-bottom: 1em">
	{% block details %}{% endblock %}
      </div>

      {% block contentcontainer %}
      {% block content %}<h1>Sorry, this feature is not yet implemented.</h1>{% endblock %}
      {% endblock %}
    </div>
   {% endblock %}
  </body>
</html>

{% if notice %}
    <script type="text/javascript">
        $(function(){ new PNotify({{ notice|safe }}); });
    </script>
{% endif %}

{% if announcement %}
    <script type="text/javascript">
        $(function(){
            new PNotify({
                title: 'AmCAT Announcement',
                text: '{{announcement|safe}}',
                type: 'info',
                hide: false
            });
        });
</script>
{% endif %}
