{% load menu %}
{% load misc %}
{% load markdown %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>AmCAT Navigator 3 - {% block title %}Beta{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ MEDIA_URL  }}img/amcat/favicon.png">

    <!-- Bower dependencies -->
    <link href="{% static 'components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css"  />
    <link href="{% static 'components/datatables/media/css/jquery.dataTables.css' %}" rel="stylesheet" type="text/css"  />
    <link href="{% static 'components/pnotify/pnotify.core.css' %}" rel="stylesheet" type="text/css"  />
    <link href="{% static 'components/datatables/extensions/TableTools/css/dataTables.tableTools.css' %}" rel="stylesheet" type="text/css"  />
    <link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css"  />

    <!-- AmCAT code -->
    <link href="{% static 'css/forms.css' %}" rel="stylesheet" type="text/css"  />
    <link href="{% static 'css/tabs.css' %}" rel="stylesheet" type="text/css"  />
    <link href="{% static 'css/amcat.css' %}" rel="stylesheet" type="text/css"  />
    <link href="{% static 'css/tables.css' %}" rel="stylesheet" type="text/css"  />

    {% if theme %}
      <link href="{% static 'css/theme_' %}{{theme}}.css" rel="stylesheet" type="text/css"  />
    {% endif %}

    {% block css %}{% endblock %}

    <script>
        csrf_middleware_token = "{{ csrf_token }}";
        AMCAT_STATIC_URL = "{% static '' %}";
        CACHE_BUST_TOKEN = "{{ cache_bust_token }}";
    </script>

    <script src="{% static 'components/requirejs/require.js' %}"></script>
    <script src="{% static 'js/require.config.js' %}"></script>

    <script>
        require(["amcat/amcat", "bootstrap"], function(amcat){
            amcat.main();
        })
    </script>

    {% block javascript %}{% endblock %}

  </head>
  <body>
  <div id="global-search-modal" class="modal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Global search</h4>
        </div>
        <form action="{% url 'navigator:to_object' %}">
        <div class="modal-body">
          <p>Search for a <i>project</i>, <i>article set</i>, or <i>article</i> by ID or by name to navigate to the identified object. You can prefix an ID with <i>p</i>, <i>s</i>, or <i>a</i> to restrict search to only projects, sets, or articles, respectively. For example, searching on p12 will directly open project 12.</p>
          <div class="form-group">
            <label for="global-search-input">Search:</label>
            <input id="global-search-input" type="text" class="form-control" name="search" autofocus/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    <!-- navbar -->
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container{% if annotator or request.user.userprofile.fluid %}-fluid{% endif %}">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated %}
  <li><a type="button" data-toggle="modal" data-target="#global-search-modal" href="#" id="global-search">Search</a></li>

{% endif %}
	    {% if status != 503 %}
{% if user.is_authenticated %}
<li {% if main_active == 'Projects' %}class="active"{% endif %}><a href="{% url 'navigator:projects' %}">Projects</a></li>
<li {% if main_active == 'Coding' %}class="active"{% endif %}><a href="{% url 'navigator:codingjobs' %}">Annotator</a></li>
<li class="dropdown{% if main_active == 'Current User' %} active{% endif %}">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
{% if request.user.first_name %}
{{ request.user.first_name }} {{ request.user.last_name }}
{% else %}
{{ request.user.username }}
{% endif %}
<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'navigator:user' %}">Account details</a></li>
    <li><a href="{% url 'accounts-logout' %}">Log out</a></li>
  </ul>
</li>
{% else %}
<li><a href="{% url 'accounts-login' %}">Log in</a></li>
  {% if allow_register %}
<li><a href="{% url 'accounts-register' %}">Sign up</a></li>
  {% endif %}
{% endif %}
<li><a target="_blank" href="http://wiki.amcat.nl/3.4:{% block help_context %}{{ help_context }}{% endblock %}">
<span class="alert alert-success"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Help</a></span>

<li id="layout-switcher">
{% if not annotator %}
    {% if request.user.userprofile.fluid %}
        <a title="Switch to static layout" href="">
            <i class="glyphicon glyphicon-resize-small"></i>
        </a>
    {% else %}
        <a title="Switch to flexible layout" href="">
            <i class="glyphicon glyphicon-resize-full"></i>
        </a>
    {% endif %}
{% endif %}
</li>
	    {% endif %}
          </ul>
          <ul class="nav navbar-nav">
	    {% block contextmenu %}
	    {% endblock %}
          </ul>
	  <a href="{% url 'navigator:index' %}">
            <div class="nav navbar-brand navbar-right">
	      <h1>AmCAT Navigator</h1>
	      <h2>{{amcat_version}}</h2>
	    </div>
	  </a>
	</div>

      </div>
    </header>

    {% block outer %}

    <!-- main contents -->
    <div id="content" class="container{% if annotator or request.user.userprofile.fluid %}-fluid{% endif %}">


      {% if breadcrumbs %}
      <ol class="breadcrumb">
	{% for name, url in breadcrumbs %}
	{% if forloop.last %}
	<li><b>{{ name }}</b></li>
	{% else %}
	<li><a href="{{ url }}">{{ name }}</a></li>
	{% endif %}
	{% endfor %}
      </ol>
      {% endif %}
      <div id="notifications">
	{% block notification %}
	{% if notification %}
	<div class="alert alert-success">
	  {{ notification|markdown }}
	</div>
	{% endif %}
	{% endblock %}
      </div>

      <div class="actions" class="btn-group">
	{% block actions %}{% endblock %}
      </div>

      <div style="margin-bottom: 1em">
	{% block details %}{% endblock %}
      </div>

      {% block contentcontainer %}
      {% block content %}<h1>Sorry, this feature is not yet implemented.</h1>{% endblock %}
      {% endblock %}
    </div>
   {% endblock %}
  </body>
</html>

{% if notice %}
    <script type="text/javascript">
        require(["pnotify"], function(PNotify){
            new PNotify({{ notice|safe }});
        });
    </script>
{% endif %}

{% if announcement %}
    <script type="text/javascript">
        require(["pnotify"], function(PNotify){
            new PNotify({
                title: 'AmCAT Announcement',
                text: '{{announcement|safe}}',
                type: 'info',
                hide: false
            });
        });
    </script>
{% endif %}

<script>
  // Autofocus elements when opening modal
  require(["jquery"], function($){
    $('.modal').on('shown.bs.modal', function() {
      $(this).find('[autofocus]').focus();
    });
  });
</script>
