{% extends "base.html" %}

{% block title %}Coding Jobs{% endblock %}

{% block tabtitle %}Coding Jobs:{% endblock %}


{% block content %}
{% if is_firefox %}
    <div class="panel panel-warning">
        <div class="panel-heading">Browser support</div>
        <div class="panel-body">
            <p>Dear Firefox user,</p>
            <p>
                The latest version of Annotator uses features only present in
                <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>,
                <a href="http://www.chromium.org/Home">Chromium</a> and
                <a href="http://www.opera.com">Opera</a>.

            Firefox will support these features in version 28 which is
            <a href="https://wiki.mozilla.org/RapidRelease/Calendar">due for 18-03-2014</a>. For
            now, however, we advise switching browser vendors.</p>
        </div>
    </div>
{%  endif %}

<br/>

{{ jobs|safe }}

{% endblock %}
