{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h1>Welcome to AmCAT 3!</h1>

<div class="btn-group btn-group-lg">
  <a class="btn btn-primary" href="{% url "projects" %}">Manage Projects</a></span>
</div>
<div class="btn-group btn-group-lg">
  <a class="btn btn-primary" href="{% url "codingjobs" %}">Annotator</a></span>
</div>
{% if featured_sets %}
<h3>Or explore one of our featured article sets:</h3>
<ul class='list-group'>
{% for a, canread in featured_sets %}
<li class="list-group-item"><a href="{% url 'article set-details' a.project_id a.id %}"><strong>{{a}}</strong> in project {{a.project_id}}: {{a.project}}</a>
{% if not canread %}
<abbr class="text-warning" title="The project containing this articleset does not give full read access to the articles (probably because of copyright restrictions), so you might not be able to read the full text of all articles">(restricted access)</small>
{% endif %}


{% endfor %}
</ul>
{% endif %}

</div>

{% endblock %}
