{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h1>Welcome to AmCAT 3!</h1>

<div class="btn-group btn-group-lg">
  <a class="btn btn-primary" href="{% url "navigator:projects" %}">Manage Projects</a></span>
</div>
<div class="btn-group btn-group-lg">
  <a class="btn btn-primary" href="{% url "navigator:codingjobs" %}">Annotator</a></span>
</div>

{% if recent_projects %}
<h3>Recently visited projects:</h3>
<ul class='list-group'>
{% for a, canread in recent_projects %}
<li class="list-group-item"><a href="{% url 'navigator:articleset-list' a.project.id %}"><strong>{{a.project}}</strong>, last visited: {{a.format_date_visited_as_delta}}</a>
{% if not canread %}
<abbr class="text-warning" title="This project does not give full read access to the articles (probably because of copyright restrictions), so you might not be able to read the full text of all articles">(restricted access)</small>
{% endif %}


{% endfor %}
</ul>
{% endif %}
<hr/>
{% if featured_sets %}
<div class="panel panel-default" style="margin-bottom: 1em">
        <div class="panel-heading">
            <h4 class="panel-title" {% if recent_projects|length > 1%}class="collapsed"{% endif %}>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
Or explore one of our featured articlesets: 
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse {% if recent_projects|length <= 1%}in{% endif %}">
            <div class="panel-body">


<ul class='list-group'>
{% for a, canread in featured_sets %}
<li class="list-group-item"><a href="{% url 'navigator:articleset-details' a.project_id a.id %}"><strong>{{a}}</strong> in project {{a.project_id}}: {{a.project}}</a>
{% if not canread %}
<abbr class="text-warning" title="The project containing this articleset does not give full read access to the articles (probably because of copyright restrictions), so you might not be able to read the full text of all articles">(restricted access)</small>
{% endif %}


{% endfor %}
</ul>
	    </div>
        </div>
    </div>


{% endif %}

</div>

{% endblock %}
