{% extends "base.html" %}
{% load markdown %}
{% load bootstrap %}

{% block help_context %}{{help_context}}{% endblock %}

{% block content %}
{% if script_doc %}
<div class="alert alert-info">{{ script_doc|markdown }}</div>
{% endif %}

<form action="" enctype="multipart/form-data" method="POST">
   {% csrf_token %}
   <legend>Please enter options for {{ script_name }} below.</legend>

   {% include "form_snippet.html" %}

   <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Save"></input>
    <a href="{{ cancel_url }}" class="btn">Cancel</a>
   </div>
</form>


{% endblock %}
