{% include "project/query/syntax_help.html" %}

<div id="query-options" class="btn-group">
    <select id="load-query-menu" role="menu">
        {% if saved_user_queries %}
            <option id="load-query-hack" value="load_query">Recent queries</option>
            <optgroup label="My queries">
                {% for query in saved_user_queries %}
                    <option title="Last saved: {{ query.last_saved }}" href="./{{ query.id }}">{{ query.name }}</option>
                {% endfor %}
            </optgroup>
        {% endif %}
        {% if saved_project_queries %}
            <optgroup label="Project queries">
            {% for query in saved_project_queries %}
                <option title="Last saved: {{ query.last_saved }}" href="./{{ query.id }}">{{ query.name }}</option>
            {% endfor %}
        {% endif %}
        </optgroup>
    </select>


    <button data-toggle="tooltip" data-placement="bottom" title="CTRL+S" id="save-query" class="btn btn-default">
        Save query
    </button>
    <button data-toggle="tooltip" data-placement="bottom" title="CTRL+SHIFT+S" id="save-query-as" class="btn btn-default">
        Save as copy
    </button>
    <button data-toggle="tooltip" data-placement="bottom" title="CTRL+R (reload)" id="new-query" class="btn btn-warning">
        <i class="glyphicon glyphicon-asterisk"></i> New query
    </button>

    <button id="delete-query" class="delete btn btn-danger disabled">
        <i class="glyphicon glyphicon-trash"></i> Delete
    </button>
</div>

<script>
    require(["jquery", "bootstrap-multiselect"], function($){
        $("#load-query-menu").multiselect({
            onChange: function(option, checked, select) {
                window.location = $(option).attr("href");
                $("#loading-dialog").modal({keyboard: false, backdrop: "static"});
                $("#loading-dialog").find(".message").text("Loading query..");
            },
            maxHeight: 400,
            nonSelectedText: "Recent queries",
            allSelectedText: "Recent queries",
            disableIfEmpty: true,
            buttonWidth: '150px'
        }).multiselect("select", "load_query");

        $("#query-options").find(".multiselect-container li.active").remove();
        $("#load-query > button").attr("title", "");

        {% if not saved_user_queries and not saved_project_queries %}
            $("#load-query-hack").remove();
            $("#load-query-menu").multiselect("rebuild");
        {% endif %}
    });
</script>

<h4 data-toggle="tooltip" data-placement="bottom" title="Click to edit" id="query-name" class="name" style="float:right;"><i>Unsaved query</i></h4>

<br/>
<br/>

<div style="display:none;" class="alert alert-danger" id="global-error" role="alert">
    <p>A global form error has occured:</p>
    <ul></ul>
</div>

<div class="row equal" id="query-screen" data-project="{{ project.id }}">
    <div class="col-md-4 filters-tab">
        <div class="panel panel-default">
            <div class="panel-heading">Filters</div>
            <div class="panel-body">
                {% if all_codingjobs %}
                    <div class="row">
                        <div class="col-md-3"><label>Codingjobs</label></div>
                        <div class="col-md-9">
                            <select multiple="multiple" id="id_codingjobs" name="codingjobs">
                                {% for cj in all_codingjobs %}
                                    <option value="{{ cj.id }}">{{ cj.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}
                <div style="{% if all_codingjobs %}display:none;{% endif %}" class="row">
                    <div class="col-md-3"><label>Sets</label></div>
                    <div class="col-md-9">
                        <select multiple="multiple" id="id_articlesets" name="articlesets">
                            {% for aset in all_articlesets %}
                                <option value="{{ aset.id }}"
                                    {% if aset.id in articleset_ids %}
                                        selected
                                    {% endif %}
                                >{{ aset.name }}</option>
                            {% endfor %}
                        </select>
                        <button id="id_articlesets_placeholder" class="btn btn-default" style="width: 100%; text-overflow:ellipsis; overflow: hidden;" disabled>
                            {% if articlesets|length > 5 %}
                            {{ articlesets|length }} selected
                            {% else %}
                            {{ articlesets_names|join:', ' }}
                            {% endif %}
                        </button>

                        <div style="text-align: center;">
                            <small><a id="change-articlesets" href="#">change articlesets?</a></small>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    {% include "project/query/dates.html" %}
                </div>
                <br/>
                <div class="row filters">
                    <div class="col-md-3"><label>Filters</label></div>
                    <div class="col-md-9">
                            <template id="filter-row-template">
                                <div class="filter-row form-inline">
                                    <div class="filter-remove"><span class="glyphicon glyphicon-remove" data-click="remove" title="Remove filter"></span>
                                    </div><select class="filters filters-field form-control">
                                        <option value="">field&hellip;</option>
                                        {% for prop in filter_properties %}
                                            <option value="{{ prop }}">{{ prop }}</option>
                                        {% endfor %}
                                    </select><select class="filters-value form-control" disabled multiple></select>
                                </div>
                            </template>
                            <textarea id="id_filters" name="filters" class="hidden"
                                      placeholder='{"field": ["value",...],...}, JSON only (temporarily). Also this is case sensitive.'></textarea>
                        <div id="filter-inputs">
                        </div>
                        <a class="btn btn-sm btn-default" id="btn-add-filter">Add filter <span class="glyphicon glyphicon-plus"></span></a>
                    </div>

                    <script>
                        require(["jquery", "query/multiselect-defaults", "bootstrap-multiselect"], function($, MULTISELECT_DEFAULTS){
                            // load articleset multiselect lazily
                            $('#id_articlesets').hide().one('before_update', function(){
                                $('#id_articlesets_placeholder').remove();
                                $(this).multiselect($.extend({}, MULTISELECT_DEFAULTS, {
                                    nonSelectedText: 'All selected',
                                    buttonWidth: "100%"
                                }));
                            });


                            $("#id_mediums,#id_codingjobs").multiselect(
                                    $.extend({}, MULTISELECT_DEFAULTS, {
                                        nonSelectedText: 'All selected',
                                        buttonWidth: "100%"
                                    })
                            );



                            {% if all_codingjobs %}
                                $("#id_codingjobs")
                                        .multiselect("deselectAll")
                                        .multiselect("select", {{ codingjob_ids_json }})
                                        .multiselect("disable");
                            {% endif %}
                        });
                    </script>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-3"><label>IDs</label></div>
                    <div class="col-md-9">
                        <textarea placeholder="IDs" name="article_ids">{{ article_ids_lines }}</textarea>
                    </div>
                </div>
                {{ form.codingjobs.queryset }}

                {% if form.fields.codingjobs.queryset %}
                <div class="row">
                    <div class="col-md-3"><label>Coding</label></div>
                    <div class="col-md-9">
                        {{ form.codingschemafield_1 }}
                        {{ form.codingschemafield_value_1 }}
                        {{ form.codingschemafield_include_descendants_1 }} <label for="id_codingschemafield_include_descendants">Include descendants</label>
                        <br/>
                        <br/>
                        {{ form.codingschemafield_2 }}
                        {{ form.codingschemafield_value_2 }}
                        {{ form.codingschemafield_include_descendants_2 }} <label for="id_codingschemafield_include_descendants">Include descendants</label>
                        <br/>
                        <br/>
                        {{ form.codingschemafield_3 }}
                        {{ form.codingschemafield_value_3 }}
                        {{ form.codingschemafield_include_descendants_3 }} <label for="id_codingschemafield_include_descendants">Include descendants</label>
                    </div>
                    <script>
                        require(["jquery", "query/multiselect-defaults", "bootstrap-multiselect", "jquery.depends"], function($, MULTISELECT_DEFAULTS){
                            $("#id_codingschemafield_1,#id_codingschemafield_2,#id_codingschemafield_3").multiselect(
                                $.extend({}, MULTISELECT_DEFAULTS, {
                                    nonSelectedText: 'All selected',
                                    buttonWidth: "100%"
                                })
                            );

                            $("#id_codingschemafield_value_1,#id_codingschemafield_value_2,#id_codingschemafield_value_3").multiselect(
                                $.extend({}, MULTISELECT_DEFAULTS, {
                                    disableIfEmpty: true,
                                    nonSelectedText: 'Code',
                                    buttonWidth: "100%"
                                })
                            ).depends({
                                getFormatter: function(options, elements, callback){
                                    options.defaults.getFormatter(options, elements, function(formatter){
                                        if (!formatter["codingschemafield"]) return;

                                        var url = "/api/v4/projects/{project}/codingschemafields/{codingschemafield}/";
                                        $.getJSON(url.format(formatter), function(data){
                                            formatter["codebook"] = data["codebook"];
                                            callback(formatter);
                                        });
                                    });
                                },
                                fetchData: function(options, elements, url){
                                    return options.defaults.fetchData.bind((function(options, elements, data){
                                        data["results"] = data["codes"];
                                        this(options, elements, data);
                                    }).bind(this))(options, elements, url);
                                }
                            });
                        });
                    </script>

                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-8 query-tab">
        <div class="panel panel-default">
            <div class="panel-heading">Keyword search <a class="syntax-help" data-toggle="modal" data-target="#syntax-help">
            <i class="glyphicon glyphicon-info-sign"></i> Syntax help
        </a>
        </div>
            <div class="panel-body">
                {% include "project/query/query_tab.html" %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 output">
        <div class="panel panel-default">
            <div class="panel-heading">Output options</div>
            <div class="panel-body">
	      <div id="scripts">
              {% include "project/query/scripts.html" %}
          </div>
	      <hr id="script-line" style="display:none"/>
	      <div class="row">
		<div class="col-md-7" id="script-form"></div>
		<div class="col-md-5"><div class="well" id="script-help" style="display:none"></div></div>
	      </div>
	    </div>
        </div>
    </div>
</div>

<div class="row query-submit">
    <div class="btn-group">
        <button class="btn btn-default disabled" data-toggle="dropdown"><span class="glyphicon glyphicon-share"></span> Share result...</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <div class="form-group-sm">
                    <input type="text" class="form-control" readonly id="share-result-link">
                    <button class="btn btn-sm btn-default" data-copy="share-result-link"><span class="glyphicon glyphicon-copy"></span> Copy</button>
                </div>
            </li>
        </ul>
        <button type="button" data-toggle="tooltip" data-placement="bottom" title="CTRL+Q" class="btn btn-success disabled" id="run-query">
            <i class="glyphicon glyphicon-cog"></i> <u>Q</u>uery
        </button>
    </div>
</div>



<script type="text/javascript">
    require(["jquery", "bootstrap-tooltip"], function($){
        var inputs = [
            "#id_datetype", "[name=on_date]", "[name=start_date]", "[name=end_date]",
            "#id_mediums", "[type=query]", "[name=articleids]"
        ];
        $.each(inputs, function (i, el) {
            $(el).prop("tabindex", i+1);
        });

        $('[data-toggle="tooltip"]').tooltip()
    });
</script>


{% include "project/query/syntax_help.html" %}
