{% include "project/query/syntax_help.html" %}


<div class="btn-group">
    <div class="btn-group">
        <button id="load-query" type="button" class="disabled btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Load query <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">My queries</li>
            {% if not saved_queries.exists %}
                <li><a href="#">No saved queries</a></li>
            {% else %}
                {% for query in saved_user_queries %}
                    <li><a title="Last saved: {{ query.last_saved }}" href="./?query={{ query.id }}">{{ query.name }}</a></li>
                {% empty %}
                    <li><a><i>No personal queries</i></a></li>
                {% endfor %}

                <li role="presentation" class="dropdown-header">Project queries</li>
                {% for query in saved_project_queries %}
                    <li><a title="Last saved: {{ query.last_saved }}" href="./?query={{ query.id }}">{{ query.name }}</a></li>
                {% empty %}
                    <li><a><i>No project queries</i></a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>


    <button id="save-query" class="disabled btn btn-default">
        Save query
    </button>
    <!--<a class="btn btn-default">
        <i class="glyphicon glyphicon-cog"></i> Settings
    </a>-->
    <button class="btn btn-danger disabled">
        <i class="glyphicon glyphicon-trash"></i> Delete
    </button>

</div>

<!--<h4 class="name" style="float:right;">Unsaved query</h4>-->

<br/>
<br/>

<div style="display:none;" class="alert alert-danger" id="global-error" role="alert">
    <p>A global form error has occured:</p>
    <ul></ul>
</div>

{% comment %}Legacy{% endcomment %}
{% for aset_id in articleset_ids %}
    <input type="hidden" name="articlesets" value="{{ aset_id }}" />
{% endfor %}



<div class="row equal" id="query-screen" data-sets="{{ articleset_ids }}" data-project="{{ project.id }}">
    <div class="col-md-4 filters-tab">
        <div class="panel panel-default">
            <div class="panel-heading">Filters</div>
            <div class="panel-body">
                <div class="row">
                    {% include "project/query/dates.html" %}
                </div>
                <br/>
                <div class="row mediums">
                    <div class="col-md-3"><label>Media</label></div>
                    <div class="col-md-9">{{ form.mediums }}</div>
                    <script>
                        $("select[multiple=multiple]").multiselect(
                           $.extend({}, MULTISELECT_DEFAULTS, {
                               nonSelectedText: 'All selected',
                               buttonWidth: "100%"
                           })
                        );
                    </script>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-3"><label>IDs</label></div>
                    <div class="col-md-9">
                        <textarea placeholder="IDs" name="article_ids"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 query-tab">
        <div class="panel panel-default">
            <div class="panel-heading">Query  <a class="syntax-help" data-toggle="modal" data-target="#syntax-help">
            <i class="glyphicon glyphicon-info-sign"></i> Syntax help
        </a>
        </div>
            <div class="panel-body">
                {% include "project/query/query_tab.html" %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 output">
        <div class="panel panel-default">
            <div class="panel-heading">Output options</div>
            <div class="panel-body">
	      <div id="scripts">
              <i class="loading">Loading options..</i>
              <div style="display: none;" class="btn-group main-scripts">
                  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      More <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu other-scripts pull-right" role="menu">
                  </ul>
              </div>
          </div>
	      <hr id="script-line" style="display:none"/>
	      <div class="row">
		<div class="col-md-8" id="script-form"></div>
		<div class="col-md-4"><div class="well" id="script-help" style="display:none"></div></div>
	      </div>
	    </div>
        </div>
    </div>
</div>

<div class="row query-submit">
    <div class="btn-group">
        <!--<a class="btn btn-default disabled">Save as..</a>
        <a class="btn btn-default disabled">Save</a>-->
        <a type="button" data-toggle="tooltip" data-placement="bottom" title="CTRL+Q" class="btn btn-success disabled" id="run-query">
            <i class="glyphicon glyphicon-cog"></i> <u>Q</u>uery
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="result">
            <div class="panel panel-default">
                <div class="panel-heading">Results</div>
                <div class="panel-body"><i>No results yet</i></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        var inputs = [
            "#id_datetype", "[name=on_date]", "[name=start_date]", "[name=end_date]",
            "#id_mediums", "[type=query]", "[name=articleids]"
        ];
        $.each(inputs, function (i, el) { $(el).prop("tabindex", i+1); });

        $('[data-toggle="tooltip"]').tooltip()
    });
</script>


{% include "project/query/syntax_help.html" %}
