<div class="row">
    <div class="hidden">
        <form method="post" id="selection_form">
            {% csrf_token %}
            {{ form }}
            <button>button</button>
        </form>
    </div>
    <div id="active-articlesets" class="col-md-6">
        <h2>Active articlesets</h2>
        {{ articlesets_table|safe }}

        <div id="{{ articlesets_table.get_name }}-actions" style="clear: both">
            <a id="use-in-query" class="btn btn-success">
                <i class="glyphicon glyphicon-search"></i> Use in queryconst
            </a>
        </div>
    </div>

    <script type="text/javascript">
        require(["jquery", "amcat/amcat.datatables"], function($){
            $("#use-in-query").click(function(event){
                const form = $("#selection_form");
                const wrapper = $(event.currentTarget).closest(".dataTables_wrapper");
                const api = wrapper.find(".dataTables_scrollBody > .dataTable").DataTable();
                const ids = $.map(api.rows('.active').data(), function(r){ return r.id; });
                $(form[0]['articlesets']).val(ids);
                form.submit()
            });
        });
    </script>

    <div id="saved-queries" class="col-md-6">
        <h2>Saved queries

        <div class="btn-group pull-right">
            <a href="{% url "navigator:query-archive" project.id %}" class="btn btn-sm btn-default">
                Archived queries
            </a>
        </div>
        </h2>
        {{ saved_queries_table|safe }}
    </div>


</div>

<div id="codingjobjobs" class="row">
    <div class="col-md-12">
        <h2>Active codingjobs</h2>
        {{ codingjobs_table|safe }}

        <div id="{{ codingjobs_table.get_name }}-actions">
            <a id="use-in-query-codingjobs" class="btn btn-success">
                <i class="glyphicon glyphicon-search"></i> Use in query
            </a>
        </div>
    </div>

    <script type="text/javascript">
        require(["jquery", "amcat/amcat.datatables"], function($){
            $("#use-in-query-codingjobs").click(function(event){
                const form = $("#selection_form");
                const wrapper = $(event.currentTarget).closest(".dataTables_wrapper");
                const api = wrapper.find(".dataTables_scrollBody > .dataTable").DataTable();
                const ids = $.map(api.rows('.active').data(), function(r){ return r.id; });
                $(form[0]['codingjobs']).val(ids);
                form.submit();
            });
        });
    </script>
</div>
