<div class="row">
    <div class="col-md-12">
        <textarea class="query" placeholder="Query" name="query" type="query"></textarea>
    </div>
    <div class="col-md-12 codebook-options">
        <select>
            <option value="">-- codebook --</option>
        </select>
        <select>
            <option value="">-- keyword language --</option>
        </select>
        <select>
            <option value="">-- replacement language --</option>
        </select>
<a class="codebook-help" data-toggle="modal" data-target="#codebook-help">
            <i class="glyphicon glyphicon-info-sign"></i>
        </a>

        {% include "project/query/codebook_help.html" %}
    </div>

</div>

