<div class="row">
    <div class="col-md-12">
        <textarea value="" class="query" placeholder="Query" name="query" type="query"></textarea>
    </div>
    <div class="col-md-12 codebook-options">
        <div class="btn-group btn-group-justified">
            <select name="codebook" id="codebooks">
                {% if codebooks %}
                    <option selected hidden value=''>No codebook</option>
                {% endif %}
                {% for codebook in codebooks %}
                    <option value="{{ codebook.id }}">{{ codebook.name }}</option>
                {% endfor %}
            </select>
            <select name="codebook_label_language" id="keywords" class="disabled"></select>
            <select name="codebook_replacement_language" id="indicators" class="disabled"></select>
        </div>
    </div>
    {% if all_codingjobs %}
    <div class="col-md-12" id="codingjobs-keywordsearch">
        <div class="alert alert-info">You're currently filtering on codingjobs, which allows scripts
            to offer extra options, depending on the annotated data. Keyword search is restircted to
            <b>filtering only</b> though. For example, the aggregation script will not allow you to
            aggregate on keyword terms.</div>
    </div>
    {% endif %}
</div>

<script>
    require(["jquery", "bootstrap-multiselect"], function($){
        $("#codebooks").multiselect({
            disableIfEmpty: true
        });

        $("#keywords").multiselect({
            disableIfEmpty: true,
            nonSelectedText: "Keyword language"
        });

        $("#indicators").multiselect({
            disableIfEmpty: true,
            nonSelectedText: "Indicator language"
        });
    });
</script>

