<div class="row">
    <div class="col-md-12">
        <textarea value="" class="query" placeholder="Query" name="query" type="query"></textarea>
    </div>
    <div class="col-md-12 codebook-options">
        <div class="btn-group btn-group-justified">
            <select name="codebook" id="codebooks">
                {% if codebooks %}
                    <option selected hidden value=''>No codebook</option>
                {% endif %}
                {% for codebook in codebooks %}
                    <option value="{{ codebook.id }}">{{ codebook.name }}</option>
                {% endfor %}
            </select>
            <select name="codebook_label_language" id="keywords" class="disabled"></select>
            <select name="codebook_replacement_language" id="indicators" class="disabled"></select>
        </div>
        {% comment %}
            <a class="codebook-help" data-toggle="modal" data-target="#codebook-help">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            {% include "project/query/codebook_help.html" %}
        {% endcomment %}
    </div>
</div>

<script>
    $(function(){
        $("#codebooks").multiselect({
            disableIfEmpty: true,
        });

        $("#keywords").multiselect({
            disableIfEmpty: true,
            nonSelectedText: "Keyword language"
        })

        $("#indicators").multiselect({
            disableIfEmpty: true,
            nonSelectedText: "Indicator language"
        });
    });
</script>

