<div role="dialog" id="save-query-dialog" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Save query</h4>
            </div>
            <div class="modal-body">
                <form>
                    {% csrf_token %}
                    <input name="name" type="text" placeholder="Name.."></input>
                    <br/>
                    <input name="private" checked="checked" type="checkbox"></input>
                    <label for="private">Private</label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="save btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>