<div class="btn-group main-scripts">
    <!-- Mains scripts -->
    <span class="btn btn-sm btn-default script" id="script_summary" name="summary">Summary</span>
    <span class="btn btn-sm btn-default script" id="script_aggregation" name="aggregation">Aggregation</span>
    <span class="btn btn-sm btn-default script" id="script_articlelist" name="articlelist">Articlelist</span>

    <!-- Network -->
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Network <span class="caret"></span>
        </button>

        <ul class="dropdown-menu pull-right" role="menu">
            <li>
                <a href="" class="script" id="script_association" name="association">Association</a>
            </li>
            <li>
                <a href="" class="script" id="script_clustermap" name="clustermap">Clustermap</a>
            </li>
        </ul>
    </div>

    <!-- Actions -->
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Actions <span class="caret"></span>
        </button>

        <ul class="dropdown-menu pull-right" role="menu">
            <li>
                <a href="" class="script" id="script_assignascodingjob" name="assignascodingjob">Assign as codingjob</a>
            </li>
            <li>
                <a href="" class="script" id="script_saveasset" name="saveasset">Save as set</a>
            </li>
        </ul>
    </div>
</div>