<div class="btn-group main-scripts">
    {% for action_or_group in view.query_actions %}
        {% if action_or_group.actions %}
            {# action_or_group is group #}
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    {{ action_or_group.label }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {% for inner_action in action_or_group.actions %}
                        <li>
                            <a href="" class="script" id="script_{{ inner_action.name }}"
                               name="{{ inner_action.name }}">{{ inner_action.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {# action_or_group is action #}
            <span class="btn btn-sm btn-default script" id="script_{{ action_or_group.name }}"
                  name="{{ action_or_group.name }}">{{ action_or_group.label }}</span>
        {% endif %}
    {% endfor %}
</div>
